[2016-03-03 02:11] adrianq opened #1 "buddybuild feedback from adrianquintana@gmail.com on build #5: Testing"
Feedback from adrianquintana@gmail.com : Testing

 [Link to buddybuild feedback from build 5](https://dashboard.buddybuild.com/apps/56d792f0e4d6010100721090/feedback?fid=56d79d45b66f55010042bd9c&bnum=5)

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/56d7993d74c21d010000f8e4/d53a6f32-6afa-49dd-8ec8-92261d40f9d0.jpg" width="33%" height="33%" /><table><t

[2016-03-03 02:14] #1 closed, assigned to nobody

[2016-03-07 04:23] adrianq opened #2 "Done: Addressed in another ticket (#16)"
Feedback from clussiana@psi.org : The app keeps crashing when I want to  push data (location identification is on) and when I click on Settings.

 [Link to buddybuild feedback from build 7](https://dashboard.buddybuild.com/apps/56d792f0e4d6010100721090/feedback?fid=56dd022a1be1540100399bea&bnum=7)

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/56dcafa

[2016-03-07 04:25] adrianq opened #3 "Question 3: Keypad display"
Feedback from clussiana@psi.org : Is it possible to show the key pad with numbers automatically? At the moment has to click in the space for the key pad to show up.

 [Link to buddybuild feedback from build 7](https://dashboard.buddybuild.com/apps/56d792f0e4d6010100721090/feedback?fid=56dd02b0c225260100c5914d&bnum=7)

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6

[2016-03-07 04:28] adrianq opened #4 "Question 3: Layout"
Feedback from clussiana@psi.org : The space for the age is very small compared to how much space is available here. Can we make this much much bigger and fancier? We won't have more than 2 digits, so we need a tall and narrow rectangulaar box rather than a short and long one.

 [Link to buddybuild feedback from build 7](https://dashboard.buddybuild.com/apps/56d792f0e4d6010100721090/feedback?fid=56

[2016-03-07 04:29] adrianq opened #5 "Question 5: Graphic Design - Coloring"
Feedback from clussiana@psi.org : For Sophia to change the background color of one of the last 2 options to make them more distinguishable.

 [Link to buddybuild feedback from build 7](https://dashboard.buddybuild.com/apps/56d792f0e4d6010100721090/feedback?fid=56dd03aec49f9f010026fb2c&bnum=7)

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/56dcafa10b8e

[2016-03-07 04:31] adrianq opened #6 "Question 5: Artwork order"
Feedback from clussiana@psi.org : For Sophia to change the order of these images: first the 4 DHA-PIP treatments and then the AS/MQ and then the referral.

 [Link to buddybuild feedback from build 7](https://dashboard.buddybuild.com/apps/56d792f0e4d6010100721090/feedback?fid=56dd042fc225260100c59153&bnum=7)

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d60101007210

[2016-03-07 04:32] adrianq opened #7 "Question 7: Layout"
Feedback from clussiana@psi.org : Reorganize the space. We have 10 digits maximum. Let's make this box more narrow and tall, rather than short and long.

 [Link to buddybuild feedback from build 7](https://dashboard.buddybuild.com/apps/56d792f0e4d6010100721090/feedback?fid=56dd0477c49f9f010026fb2e&bnum=7)

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090

[2016-03-07 04:35] adrianq opened #8 "Statistics: Placement of monitoring statistics"
Feedback from clussiana@psi.org : Nice to see this!
For RM: what if we put this in the landing page of the app together with surveys conducted and surveys sent? Or do we want to keep this separate because we'll include graphs here below?

 [Link to buddybuild feedback from build 7](https://dashboard.buddybuild.com/apps/56d792f0e4d6010100721090/feedback?fid=56dd05211be1540100399bf0&bnum=7)

<img sr

[2016-03-07 04:38] adrianq opened #9 "Done: Addressed"
Feedback from clussiana@psi.org : Not able to send any survey. It keeps crashing when I want to send (location is on).

 [Link to buddybuild feedback from build 7](https://dashboard.buddybuild.com/apps/56d792f0e4d6010100721090/feedback?fid=56dd05bc3f2d4801007bc923&bnum=7)

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/56dcafa10b8e3e0100d226ce/171f0278

[2016-03-07 07:08] adrianq opened #10 "All questions: Graphic Design - Font Size"
Feedback from qispsk@gmail.com : The font size here seems significantly smaller than the previous versions of the artwork. Any way that the font size of the answers can be increased?

 [Link to buddybuild feedback from build 7](https://dashboard.buddybuild.com/apps/56d792f0e4d6010100721090/feedback?fid=56dd2903c042780100e148c9&bnum=7)

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screen

[2016-03-07 07:47] adrianq opened #11 "Question 3: Text adjustment"
Feedback from qispsk@gmail.com : The word "Agree" which means in Khmer "យល់ព្រម" should be in one line.

 [Link to buddybuild feedback from build 7](https://dashboard.buddybuild.com/apps/56d792f0e4d6010100721090/feedback?fid=56dd320aa0c0a601004528f9&bnum=7)

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/56dcafa10b8e3e0100d226ce/e5c1d358-4bf3-4bf5-ac18

[2016-03-07 08:01] adrianq opened #12 "Question 5: Graphic design - Text"
Feedback from qispsk@gmail.com : The translation here seems not the same to the translation we did on Gdrive.

 [Link to buddybuild feedback from build 7](https://dashboard.buddybuild.com/apps/56d792f0e4d6010100721090/feedback?fid=56dd35549f12090100d5aaa9&bnum=7)

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/56dcafa10b8e3e0100d226ce/8794bec1-0006-4ca

[2016-03-07 10:13] adrianq commented on #12
@QISPSK  The texts are part of the images. We are using the old ones as we haven't received the new artwork. Once we receive it we will update the code and release again. Closing this card as it is not actually a bug...

[2016-03-07 10:19] adrianq commented on #10
@QISPSK As I said in my previous comment, the texts are embedded in the image. If in the new artwork the font size is bigger it will look much bigger. Not too much we can do in this sense... As you can see the images try to fit in the device screen without squeezing.

[2016-03-07 10:25] adrianq commented on #9
@cristinaelle  @QISPSK I am working on this at the moment... I think I know the problem. You are using the long press and there is a bug in the code for this feature. Solving it at the moment.  However you don't need to use long press feature as the app will automatically push the surveys when the OU/url is properly configured. I know you have a bug trying to set the OU in the preference and I am

[2016-03-07 10:27] adrianq commented on #10
I leave it open so that @gtrsmith @rodmelia can also comment the card if they want to. Although I think they were already aware of this issue

[2016-03-07 10:30] adrianq commented on #6
@cristinaelle Actually we can define the order of the images (they are 6 individual images). TBH I haven't paid too much attention to this  as we were waiting for the new artwork. Once we have it I will update the image and reorder it according to what you have just said.

[2016-03-07 15:19] cristinaelle commented on #10
@QISPSK : as you know at the moment users click on pictures and the Khmer scripts are embedded in pictures (image + Khmer scripts). please, make note of all the things that you want the graphic designer to work on, so that we'll submit these comments to her.
In the future we'll change this approach, so the graphic designer doesn't get crazy in changing the font size and the developers and the user

[2016-03-07 15:21] cristinaelle commented on #6
ok, so we can close this for the moment, I guess. thanks!

[2016-03-07 15:24] adrianq opened #13 "Landing page: Spacing"
Feedback from clussiana@psi.org : Increase the font size and the space in between each row. I guess the same applies to Sent surveys.

 [Link to buddybuild feedback from build 7](https://dashboard.buddybuild.com/apps/56d792f0e4d6010100721090/feedback?fid=56dd9d48e1ae9d0100644c94&bnum=7)

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/56dcafa10b8e3e0100

[2016-03-07 15:25] adrianq opened #14 "Header: Khmer language"
Feedback from clussiana@psi.org : Wondering if PSK wants the headers of this landing page in Khmer...

 [Link to buddybuild feedback from build 7](https://dashboard.buddybuild.com/apps/56d792f0e4d6010100721090/feedback?fid=56dd9d736d745e01004ff263&bnum=7)

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/56dcafa10b8e3e0100d226ce/9a9d61d8-6661-460a-994a-6

[2016-03-07 15:27] cristinaelle commented on #14
@QISPSK : please, have a look at this comment of mine.

[2016-03-07 15:48] adrianq opened #15 "buddybuild feedback from clussiana@psi.org on build #8: Now it seems that I can push. Great! However now it seems…"
Feedback from clussiana@psi.org : Now it seems that I can push. Great! However now it seems that I can't see what I've pushed anymore,

 [Link to buddybuild feedback from build 8](https://dashboard.buddybuild.com/apps/56d792f0e4d6010100721090/feedback?fid=56dda2bd6d745e01004ff2ac&bnum=8)

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/56dd9e12d15320010

[2016-03-07 15:52] adrianq commented on #14
@cristinaelle These headers depend on the device preferences. We currently support English, Spanish, France and Khmer. The only strings are not translated are the ones in the Dhis2 database (questions and answers for instances) because of Dhis2 api limitation. If @QISPSK  has Khmer as the default device language he should see everything in Khmer...

[2016-03-07 15:52] adrianq opened #16 "buddybuild feedback from clussiana@psi.org on build #8: It's working fine now, tks."
Feedback from clussiana@psi.org : It's working fine now, tks.

 [Link to buddybuild feedback from build 8](https://dashboard.buddybuild.com/apps/56d792f0e4d6010100721090/feedback?fid=56dda3d46d745e01004ff2bb&bnum=8)

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/56dd9e12d153200100adab26/1b720a19-b740-4bde-b46b-dc1a51a8d4bc.jpg" width="33%" height="33%

[2016-03-07 15:57] adrianq commented on #16
Great! :) So can we close this card, #2, #9 and #15?

[2016-03-07 16:18] adrianq opened #17 "Done: Positive feedback :)"
Feedback from clussiana@psi.org : Nice! Automatically updated! Good job!

 [Link to buddybuild feedback from build 8](https://dashboard.buddybuild.com/apps/56d792f0e4d6010100721090/feedback?fid=56dda9bbc461ba0100a7077b&bnum=8)

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/56dd9e12d153200100adab26/edc8e962-3276-487e-a4df-1734c26db332.jpg" width="33%"

[2016-03-07 16:32] adrianq opened #18 "Landing page: Survey display"
Feedback from clussiana@psi.org : For some reason, sometimes I have empty surveys in the completed ones. They appear together with actual surveys.

 [Link to buddybuild feedback from build 8](https://dashboard.buddybuild.com/apps/56d792f0e4d6010100721090/feedback?fid=56ddad347decba01000f888f&bnum=8)

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/56dd9

[2016-03-07 16:43] adrianq commented on #18
@cristinaelle  Can you try to find when and how it happens? I haven't seen this bug before and unless you provide a little bit of context it is going to be really difficult to catch it. Can you please try to find a pattern?

[2016-03-07 16:44] #17 closed, assigned to nobody

[2016-03-07 17:00] cristinaelle commented on #18
mh, let me try. I've resent 3 positives, 3 negatives and 3 not tested and nothing has happened so far. I've closed the app and opened it again, resent 3 each, and it has not happened again.
I've clicked on those 2 "empty" surveys to see if I was able to go ahead with the survey, in case those are uncompleted surveys. I can't: it opens the first question (+/-/x) but then I can't click on any of the

[2016-03-08 10:47] adrianq opened #19 "Question 5: Graphic Design - Artwork"
Feedback from qispsk@gmail.com : Artwork includes .pdf comment box, should be removed.

 [Link to buddybuild feedback from build 8](https://dashboard.buddybuild.com/apps/56d792f0e4d6010100721090/feedback?fid=56deadbefabbdf01004b2563&bnum=8)

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/56dd9e12d153200100adab26/8cb16761-1ca7-497d-8d92-0ac6bec04910.jpg

[2016-03-08 19:27] #2 closed, assigned to adrianq

[2016-03-08 19:27] #9 closed, assigned to adrianq

[2016-03-08 19:28] #15 closed, assigned to nobody

[2016-03-08 19:28] #16 closed, assigned to nobody

[2016-03-08 19:32] adrianq commented on #19
@QISPSK  We are still waiting for the new artwork and, in particularly, for two of the treatment options. As we wanted to release a version for you to test it I took the pictures from the pdf. Once the new artwork is ready and delivered, we will replace those images with the new ones.

[2016-03-09 02:46] QISPSK commented on #10
@cristinaelle The font size and the ordering of the items on the drug selection screen are the only two outstanding issues that the team has identified that need to be addressed by the graphic designer. The attached document gives an idea of what we are looking for in terms of both font size and drug order. Let us know if you have any questions.

[Update QIS App_11.02.16 (2).pdf](https://github.co

[2016-03-11 17:19] gtrsmith commented on #18
Hi Cristina,

The 'empty' surveys are resulting from answering either '-' or 'x' to the first question. If you answer either of those responses, the survey ends. It is done this way intentionally. The goal is only to collect information on + individuals.

[2016-03-11 17:20] #18 closed, assigned to adrianq

[2016-03-11 17:22] gtrsmith commented on #14
I am closing this ticket because Adrian resolved with his explanation.

[2016-03-11 17:22] #14 closed, assigned to QISPSK

[2016-03-11 17:24] gtrsmith commented on #8
Lets keep it separate for now. I dont want to make too many major changes before we field test and this should not go on the landing page. The landing page will eventually have a lot of surveys on it - this will get crowded. The only individuals who will need to see this will know how to access with a little training

[2016-03-11 17:24] #8 closed, assigned to rodmelia

[2016-03-11 17:26] gtrsmith commented on #10
I will address with graphic designer.

[2016-03-11 17:27] gtrsmith commented on #12
I am reopening and assigning this to me. I will work with graphic designer to address.

[2016-03-11 17:29] gtrsmith commented on #7
Adrian, do what you can but dont spend too much time here. This is a low priority issue

[2016-03-11 17:31] gtrsmith commented on #4
Adrian, do what you can but dont spend too much time on this. It is low priority.

[2016-03-11 17:32] gtrsmith commented on #3
@adrianq If this is easy, please implement. If it is complex, let me know and we can discuss if this is a priority.

[2016-03-11 17:36] gtrsmith commented on #19
I am meeting with graphic designer this afternoon and will have final artwork soon

[2016-03-11 17:41] gtrsmith commented on #6
I will work with Sophie on this today

[2016-03-11 17:47] adrianq commented on #18
@gtrsmith I think you have misunderstood the issue. If you look at @cristinaelle screenshot there are two surveys at the top that don't have any answer in the RDT column. This is definitively an error but I haven't been able to reproduce it so far. I am keeping an eye on it in order to understand when it happens... Please let me know if it happen to you.

[2016-03-12 13:53] cristinaelle commented on #18
Yep, Adrian, you're right.

[2016-03-14 10:13] adrianq opened #20 "Landing Page: Push feature"
Feedback from clussiana@psi.org : Should we remove the option of pushing surveys by holding the finger on a survey row among Pending send? Thus might create confusion to providers.

 [Link to buddybuild feedback from build 8](https://dashboard.buddybuild.com/apps/56d792f0e4d6010100721090/feedback?fid=56e68ebc5544640100b394e1&bnum=8)

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screensh

[2016-03-16 04:20] adrianq opened #21 "Review feature: limit review for negative or not tested"
Feedback from clussiana@psi.org : I'm reviewing a survey that I sent and this is a negative  test. In the review I can see all the quesrions, even the ones I have not answered. Can we modify this so that neg and not tested cases don't show all the questions, but just the first one?

 [Link to buddybuild feedback from build 11](https://dashboard.buddybuild.com/apps/56d792f0e4d6010100721090/feedback

[2016-03-16 04:21] adrianq opened #22 "Landing Page: Provider name in header"
Feedback from clussiana@psi.org : Please, include the name of the proivider at the top, as it appears in the actual survey.

 [Link to buddybuild feedback from build 11](https://dashboard.buddybuild.com/apps/56d792f0e4d6010100721090/feedback?fid=56e8df5d28bc530100782b7e&bnum=11)

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/56e8c3568418ae01009093f9/d

[2016-03-16 04:24] adrianq opened #23 "Landing Page: Font size of Send survey and Pending survey."
Feedback from clussiana@psi.org : Increase font size of Send survey and Pending survey.

 [Link to buddybuild feedback from build 11](https://dashboard.buddybuild.com/apps/56d792f0e4d6010100721090/feedback?fid=56e8e00c85e23601008b4ef9&bnum=11)

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/56e8c3568418ae01009093f9/916e3ec6-9d48-4677-8836-832aeeeef4dc.

[2016-03-16 04:29] adrianq opened #24 "TO DELETE! - buddybuild feedback from clussiana@psi.org on build #11: The positivity rate should be Positive / Suspected cases. At…"
Feedback from clussiana@psi.org : The positivity rate should be Positive / Suspected cases. At the moment it's not.

 [Link to buddybuild feedback from build 11](https://dashboard.buddybuild.com/apps/56d792f0e4d6010100721090/feedback?fid=56e8e11985e23601008b4efa&bnum=11)

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/56e8c3568418ae01009093f9/cc413f8c-

[2016-03-16 04:30] adrianq opened #25 "Monitor: include provider name"
Feedback from clussiana@psi.org : Monitor module: include the name of the proivder. at the top.

 [Link to buddybuild feedback from build 11](https://dashboard.buddybuild.com/apps/56d792f0e4d6010100721090/feedback?fid=56e8e16928bc530100782b87&bnum=11)

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/56e8c3568418ae01009093f9/ba57fbdc-8a15-4a93-b721-9fe65

[2016-03-16 04:31] adrianq opened #26 "Monitor: Graphic Design"
Feedback from clussiana@psi.org : Will the graphic designer review the Monitor tables, too?

 [Link to buddybuild feedback from build 11](https://dashboard.buddybuild.com/apps/56d792f0e4d6010100721090/feedback?fid=56e8e1a285e23601008b4efe&bnum=11)

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/56e8c3568418ae01009093f9/a16ab51f-16dc-4d14-a4e7-8cb28cd16

[2016-03-16 04:33] cristinaelle commented on #26
@gtrsmith

[2016-03-16 08:24] adrianq opened #27 "Monitor: layout"
Feedback from qispsk@gmail.com : Column size is inconsistent in Khmer

 [Link to buddybuild feedback from build 11](https://dashboard.buddybuild.com/apps/56d792f0e4d6010100721090/feedback?fid=56e918366a87a20100002749&bnum=11)

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/56e8c3568418ae01009093f9/e04703b7-4e99-431d-bd43-a93aefcd2b7b.jpg" width="33%" h

[2016-03-16 08:29] adrianq opened #28 "Question 3: Submit button"
Feedback from qispsk@gmail.com : Team would prefer if this remained as "Agreed" as in the previous build (យល់ព្រម), if possible as they're worried that the check box may confuse providers. The Khmer script would need to be on one line though as it is a single word.

 [Link to buddybuild feedback from build 11](https://dashboard.buddybuild.com/apps/56d792f0e4d6010100721090/feedback?fid=56e9194f2230

[2016-03-16 08:33] adrianq opened #29 "Landing Page: Font Size"
Feedback from qispsk@gmail.com : Font size increase on the first page makes it difficult to see sent and unsent surveys on the phones that the providers will be using

 [Link to buddybuild feedback from build 11](https://dashboard.buddybuild.com/apps/56d792f0e4d6010100721090/feedback?fid=56e91a409492a3010040a89e&bnum=11)

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0

[2016-03-16 08:36] adrianq opened #30 "Question 5: minor text edit"
Feedback from qispsk@gmail.com : Khmer font should be on one line here

 [Link to buddybuild feedback from build 11](https://dashboard.buddybuild.com/apps/56d792f0e4d6010100721090/feedback?fid=56e91b139492a3010040a8a1&bnum=11)

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/56e8c3568418ae01009093f9/6475ca6c-65b4-42e4-a09b-86be622dee05.jpg" width="33%"

[2016-03-16 10:13] adrianq opened #31 "Landing Page: 'Blank' surveys"
Feedback from qispsk@gmail.com : I believe this issue has already been raised, but curious about empty data being sent to the server. It looks like there are a lot of N/A survey data in DHIS and it throws off the monitor module as these show up as suspected cases. Also, I believe these two particular surveys may be due to surveys that were completed before I input the correct organizational unit -

[2016-03-16 10:37] adrianq commented on #31
Yes, it has although it was slightly different. Anyway we were not able to reproduce the problem.  Definitively, we need to catch it. @QISPSK can you let me know what server/org unit you  had configured in the settings?

[2016-03-16 10:39] adrianq commented on #29
@QISPSK I will revert that change and keep it with the original font size.

[2016-03-16 10:49] adrianq commented on #24
It is exactly this or I am missing something. I guess the 'TO DELETE' means it is not valid. If so can you add the invalid label to the card and move it to done @cristinaelle . Cheers!

[2016-03-16 10:53] adrianq commented on #23
@cristinaelle  We are having some problems depending on the device and the language with the look and feel of the dashboard. In Khmer with a small screen it doesn't look as nice as it looks in your device/emulator. I think the best approach is going to be probably to revert the changes or something in between the new and the former one.

[2016-03-16 10:57] adrianq commented on #20
@cristinaelle Sure, we can do it. It is just about commenting out a few line. TBH, I have already thought about removing it @gtrsmith @rodmelia  just to confirm this is not needed... do you agree  about removing this feature?

[2016-03-16 11:19] adrianq commented on #27
@QISPSK  I am not sure if I fully understand the problem. Do you want all the columns to be of the same size? Do you want the two tables to look the same? Keep in mind there is not too much we can do if the device screen is not big enough

[2016-03-16 13:11] #24 closed, assigned to cristinaelle

[2016-03-16 17:39] gtrsmith commented on #31
Is this not due to answering either '-' or 'x' to the first survey question? I think the NA survey data in DHIS is likely due to this.

[2016-03-16 17:47] gtrsmith commented on #25
@adrianq how complex is this? Lets discuss.

[2016-03-16 17:49] gtrsmith commented on #23
@adrianq lets discuss on our call

[2016-03-16 17:51] gtrsmith commented on #22
Yes, this should be in the header if it is an easy change to implement.

[2016-03-16 17:53] gtrsmith commented on #21
This does not have to be done in time for this field test but it is a good idea. @adrianq, lets discuss how complex this is.

[2016-03-16 17:55] gtrsmith commented on #20
@adrianq I agree with this.

[2016-03-16 18:00] gtrsmith commented on #27
@adrianq lets discuss - this is a low priority but I see what the team means.

[2016-03-16 18:14] gtrsmith commented on #26
No plans to at the moment.

[2016-03-16 18:28] gtrsmith commented on #29
I agree with decision to revert back

[2016-03-16 18:34] gtrsmith commented on #23
We will wait for field test to determine if font size needs to change.

[2016-03-16 19:56] adrianq commented on #30
@gtrsmith Finally I could take care of this one. Do not bother Sophie

[2016-03-16 20:02] #11 closed, assigned to adrianq

[2016-03-16 20:02] #7 closed, assigned to adrianq

[2016-03-16 20:02] #3 closed, assigned to adrianq

[2016-03-16 20:02] #4 closed, assigned to adrianq

[2016-03-16 20:02] #13 closed, assigned to adrianq

[2016-03-16 20:02] #12 closed, assigned to gtrsmith

[2016-03-16 20:02] #10 closed, assigned to gtrsmith

[2016-03-16 20:02] #19 closed, assigned to gtrsmith

[2016-03-16 20:02] #5 closed, assigned to rodmelia

[2016-03-16 20:02] #6 closed, assigned to gtrsmith

[2016-03-18 05:01] QISPSK commented on #31
@adrianq @gtrsmith
Server and org unit were not set initially when two surveys were completed, but were later set to server: https://www.psi-mis.org and org unit: KHTest. A coworker mentioned that submitting surveys before the org unit is set or changing the date/time before a survey is set can result in blank surveys being sent. I tested both of these options and they didn't seem to have an impac

[2016-03-18 05:06] QISPSK commented on #27
@adrianq
It is definitely a minor issue, but if we could keep the column sizes consistent it would visually make things more clear.

[2016-03-21 03:53] adrianq opened #32 "Review feature: review screen, basic"
KH team to submit review page. Initial draft [here](https://drive.google.com/open?id=0BwFVG9gNmqDyclFQY3diSVpCQkE)

Review page will display after the phone number question. Review page will display a table with Khmer question and the answer provided in the tablet. Below the table, there will be a 'cancel' or 'submit' button.

Code for functionality can be built as we wait for review page.

[2016-03-27 07:35] #27 closed, assigned to adrianq

[2016-03-27 07:35] #20 closed, assigned to adrianq

[2016-03-27 07:35] #30 closed, assigned to adrianq

[2016-03-27 07:35] #22 closed, assigned to adrianq

[2016-03-27 07:35] #25 closed, assigned to adrianq

[2016-03-27 07:35] #31 closed, assigned to adrianq

[2016-03-27 07:35] #23 closed, assigned to adrianq

[2016-03-27 07:35] #28 closed, assigned to adrianq

[2016-03-27 07:35] #29 closed, assigned to adrianq

[2016-04-19 19:09] #26 closed, assigned to gtrsmith

[2016-04-19 19:14] gtrsmith opened #33 "Bug: N/A data - positive RDT test with no data"
Theoretically, if the RDT test is positive (question 1), the user should be forced to fill out the remainder of the survey. They should not be able to skip fields. The DHIS analytics, however, show many cases where a positive case is registered and resulting data fields are missing. See image below.

The only question that should remain optional is the phone number question. Users should be able t

[2016-04-19 19:15] gtrsmith opened #34 "Name: Change to 'Malaria Case Surveillance' throughout"
This needs to be changed everywhere - from the initial download screen to the header

[2016-04-19 19:28] gtrsmith opened #35 "Bug: N/A data - blank assessments"
DHIS shows a number of blank assessments sent from phones. The app should not be able to send a blank assessment and we need to determine why this is happening. See image below.

![n a data - blank assessments](https://cloud.githubusercontent.com/assets/14224713/14652714/c1d8c3cc-0632-11e6-8e46-c10446a16848.PNG)

[2016-04-19 19:34] gtrsmith opened #36 "Review feature: review screen, advanced"
The review screen (noted in #32) will include functionality where a user can click on the individual question in the table and go to that question to change their response.

[2016-04-19 19:40] gtrsmith opened #37 "Font Size: Increase"
KH Team to determine availability of local graphic designer. If GD is available, they will tweak images and submit to us for incorporation

[2016-04-19 19:43] gtrsmith opened #38 "Design: Pending, Sent and Monitor 'modules'"
Add three tabs at bottom of application:
1. Pending
2. Sent
3. Monitor

Can be delayed until we are able to redesign the tool. KH to determine available of GD

[2016-04-19 19:44] adrianq opened #39 "Monitor: Change days to dates"
Change the days to dates, as in '11th', '12th', '13th', '31st', '1st' etc

KH team provided Khmer text for 'th', 'st', 'rd', and 'nd' here: https://docs.google.com/spreadsheets/d/1i1Lj-0y-kjUQBC6UFmHLDA6RRvZpmADCaPZnoMXFjwk/edit#gid=1103624326.

 [Link to buddybuild feedback from build 11](https://dashboard.buddybuild.com/apps/56d792f0e4d6010100721090/feedback?fid=57168a901ec52f0100740833&bnum=11)

[2016-04-19 19:47] adrianq opened #40 "Monitor: Introduce simple, grey-scale banding throughout"
Issue 1: Please introduce a simple grey-scale banding scheme for these tables. See example from KH team here: https://docs.google.com/spreadsheets/d/1CQgZ1EKrVmtSzbR5C_4GH0FplvAwtTgAzFL8-sOK_3U/edit#gid=927663048

Issue 2: Please move referral row to a sub-row under 'positive' (also demonstrated in above link).

 [Link to buddybuild feedback from build 11](https://dashboard.buddybuild.com/apps/56d

[2016-04-19 19:49] gtrsmith opened #41 "Monitor: redesign order of table"
KH team to provide final design

[2016-04-19 19:51] adrianq opened #42 "Question 3: Age range validation"
Limit age range validation to 0-99

 [Link to buddybuild feedback from build 11](https://dashboard.buddybuild.com/apps/56d792f0e4d6010100721090/feedback?fid=57168c5a712fe501007fd9b6&bnum=11)

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/56e8c3568418ae01009093f9/4c311167-30db-4207-9634-bae7e2266fe9.jpg" width="33%" height="33%" /><table><tr><td>Build<

[2016-04-19 19:54] adrianq opened #43 "Question 7: Hard code phone number format"
Hardcode phone number format to the following:

0XX XXX XXXX

 [Link to buddybuild feedback from build 11](https://dashboard.buddybuild.com/apps/56d792f0e4d6010100721090/feedback?fid=57168cf40d0bb20100bc7df6&bnum=11)

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/56e8c3568418ae01009093f9/38a3df85-ab16-403c-9769-d76128b8f733.jpg" width="33%" height="33

[2016-04-19 19:56] adrianq opened #44 "Question 5: Split"
Feedback from gtsmith@psi.org : We will

 [Link to buddybuild feedback from build 11](https://dashboard.buddybuild.com/apps/56d792f0e4d6010100721090/feedback?fid=57168d5c1ec52f010074085e&bnum=11)

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/56e8c3568418ae01009093f9/02bb8a71-f11e-4540-b46c-91abf040a7fa.jpg" width="33%" height="33%" /><table><tr><td>B

[2016-04-19 20:01] gtrsmith opened #45 "Question 3: Increase size of button"
KH has submitted imagery:

![khmer ok button screenshot](https://cloud.githubusercontent.com/assets/14224713/14675119/a1e9e02c-06c4-11e6-9647-3c12a710de93.png)

[2016-04-19 20:02] gtrsmith opened #46 "Question delay: Reduce delay time from .5 seconds to .25 seconds"
KH was experiencing issues related to being able to select multiple answers within the same screen. We will see if reducing delay helps this.

KH to submit video of full experience.

[2016-04-19 20:10] gtrsmith opened #47 "Location"
We will add question logic to determine the source of the malaria infection. This is for future builds.

We need full logic scoped as well as any new imagery

[2016-04-19 20:11] gtrsmith opened #48 "Refer / Not tested: Follow up questions"
Request to include follow up questions for individuals referred or not tested.

KH to provide full flow, question text and imagery

[2016-04-19 20:12] gtrsmith opened #49 "Time stamps: time 1 and time 2"
KH would like to see two time stamps included in analytics:

Time 1: time when a user presses + symbol to start a new survey

Time 2: time when the survey is sent to DHIS

[2016-04-20 13:02] rodmelia commented on #33
Graham will upload video showing possible cause for the problem.

[2016-04-20 13:02] gtrsmith commented on #33
Video which may explain issue is here: https://drive.google.com/a/psi.org/file/d/0BwQE0UgKE3AmV0lSQlJwU3EteDA/view

As you can see, user is able to select multiple answers on first question which causes the application to skip several questions.

[2016-04-20 13:06] rodmelia commented on #45
increase width ob the button so whole word can fit (it shouldn't go into next line)

[2016-04-20 13:11] rodmelia commented on #39
We just found out that all you need to do is to add the prefix "ទីី" to the date of the month:

ទីី01
ទីី02
...
ទីី31

[2016-04-20 13:12] gtrsmith commented on #39
they have also included text for the months in a similar fashion. So the months look like:

ខែ01
ខែ02
ខែ03

[2016-04-20 13:21] gtrsmith commented on #21
Please aim to address this for 4.1

[2016-04-25 00:21] adrianq commented on #37
Images have been submitted and the app has been updated with them

[2016-04-26 01:10] adrianq commented on #45
@QISPSK  I have increased the size of the button but please let me know if you still have problem about the visualization. It is a little bit difficult to reproduce the problem.

[2016-04-26 01:13] adrianq commented on #33
@gtrsmith @rodmelia Now when you select an image you won't be able to select any other answer during the transition time (the time when the answer is highlight and the other are darken).

[2016-04-26 09:19] adrianq opened #50 "clussiana@psi.org on build #12: This is how it appears when I have to write a phone number.…"
Feedback from clussiana@psi.org : This is how it appears when I have to write a phone number. I have to delete the Xs and type numbers.

 [Link to buddybuild feedback from build 12](https://api.buddybuild.com/apps/56d792f0e4d6010100721090/feedback?fid=571f32a81d834601002eff6f&bnum=12)

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/571ecd8a4571aa010033

[2016-04-26 09:26] adrianq opened #51 "clussiana@psi.org on build #12: I guess it's not sending the survey because I have not…"
Feedback from clussiana@psi.org : I guess it's not sending the survey because I have not selected any OU?? Now it's been some time since I've completed the survey ansd it's not sent yet.

 [Link to buddybuild feedback from build 12](https://api.buddybuild.com/apps/56d792f0e4d6010100721090/feedback?fid=571f3434fe6fcc0100432abe&bnum=12)

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screen

[2016-04-28 03:36] #34 closed, assigned to adrianq

[2016-04-28 03:36] #42 closed, assigned to adrianq

[2016-04-28 03:37] #39 closed, assigned to adrianq

[2016-04-28 03:37] #40 closed, assigned to adrianq

[2016-04-28 03:37] #21 closed, assigned to adrianq

[2016-04-28 04:20] gtrsmith commented on #51
If you havent selected the OU and logged into the app, the survey will just sit there - can you confirm this is the case? It is not a bug if so - this is how it is designed to function

[2016-04-28 04:20] #46 closed, assigned to adrianq

[2016-04-28 04:21] gtrsmith commented on #43
The phone number format is not hard coded – we just have the 0XX XXX XXXX in the data entry field now, which we have to delete and then enter a proper phone number. Perhaps this ticket was not clear – let me know if we should discuss tomorrow. Rodolfo can also help explain. We need the phone number to be either nothing or follow the 0XX XXX XXXX format in order for the survey to be submitted –that

[2016-04-28 04:22] #50 closed, assigned to nobody

[2016-04-28 04:22] gtrsmith commented on #50
This is issue 43 - I updated that ticket and moved it back to ready - so I am closing this one out.

[2016-04-28 17:55] adrianq commented on #51
Yes, this is done on purpose. We would like anybody to 'play' with the app but only if you have a dhis2 server account you can send surveys (because you need to log-in in order to select a OU). Closing this card as it is not a bug...

[2016-04-28 17:55] #51 closed, assigned to nobody

[2016-05-03 19:54] gtrsmith opened #52 "Title: Introduce Khmer"
Please add Khmer language to application title.

Waiting on KH to provide translation

[2016-05-03 20:08] gtrsmith commented on #41
Not sure this is still necessary - I think this was done in S4.1

[2016-05-03 20:15] gtrsmith commented on #32
Question for KH team - is this review page final? Does it need additional graphic design work?

[2016-05-03 22:04] #45 closed, assigned to adrianq

[2016-05-03 22:04] #37 closed, assigned to adrianq

[2016-05-03 22:05] adrianq commented on #35
@gtrsmith have you seen this behaviour again? Do you think we can close this card?

[2016-05-03 22:06] #33 closed, assigned to adrianq

[2016-05-15 17:11] #35 closed, assigned to adrianq

[2016-05-15 17:14] adrianq commented on #43
Moving this card to Done. If by any chance what we have at the moment is not what you were expecting let us know...

[2016-05-15 17:14] #43 closed, assigned to adrianq

[2016-06-09 05:24] adrianq opened #54 "qispsk@gmail.com on build #25: The reason for not tested should appear after this…"
Feedback from qispsk@gmail.com : The reason for not tested should appear after this selection. It should not appear after negative!

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/57586bc3bf09ff010013bc3a/3286958f-8a2a-4e9e-9019-c906df024f6a.jpg" width="33%" height="33%" /><table><tr><td>Build</td><td>25</td></tr><tr><td>Device type</td><td>LG-H324</td

[2016-06-09 05:29] adrianq opened #55 "qispsk@gmail.com on build #25: As Eli mentioned this should change the translation in Khmer…"
Feedback from qispsk@gmail.com : As Eli mentioned this should change the translation in Khmer for DHA-PIP for the monitor module

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/57586bc3bf09ff010013bc3a/f5b91ad3-69b1-4dec-af5d-473376ae1b80.jpg" width="33%" height="33%" /><table><tr><td>Build</td><td>25</td></tr><tr><td>Device type</td><td>LG-H324</td></

[2016-06-09 07:34] adrianq opened #56 "qispsk@gmail.com on build #25: មិនស្គាល់ or Unrecognized was shown here as I have already…"
Feedback from qispsk@gmail.com : មិនស្គាល់ or Unrecognized was shown here as I have already raised in previous build S4.1 build 24

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/57586bc3bf09ff010013bc3a/be5a865c-1ccd-4d13-8981-f79245ef55cd.jpg" width="33%" height="33%" /><table><tr><td>Build</td><td>25</td></tr><tr><td>Device type</td><td>LG-H324</td>

[2016-06-09 07:37] adrianq opened #57 "qispsk@gmail.com on build #25: The keyboard pop up on Species screen after the age entered…"
Feedback from qispsk@gmail.com : The keyboard pop up on Species screen after the age entered which cause species screen smaller and difficult to read.

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/57586bc3bf09ff010013bc3a/582e2e77-a1a8-4935-bcdc-437a0c15f167.jpg" width="33%" height="33%" /><table><tr><td>Build</td><td>25</td></tr><tr><td>Device type<

[2016-06-09 07:41] adrianq opened #58 "qispsk@gmail.com on build #25: Sent Unsent and Monitoring need to be translated into Khmer."
Feedback from qispsk@gmail.com : Sent Unsent and Monitoring need to be translated into Khmer.

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/57586bc3bf09ff010013bc3a/39199595-c45e-4500-aca6-5ff0a63e55bc.jpg" width="33%" height="33%" /><table><tr><td>Build</td><td>25</td></tr><tr><td>Device type</td><td>LG-H324</td></tr><tr><td>Screen size</td><td>480<

[2016-06-09 07:43] adrianq opened #59 "Fonts for the answer should be the same to question!"
Feedback from qispsk@gmail.com : Fonts for the answer should be the same to question!

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/57586bc3bf09ff010013bc3a/5a2dab74-e943-4ec0-855e-a06e43744b6e.jpg" width="33%" height="33%" /><table><tr><td>Build</td><td>25</td></tr><tr><td>Device type</td><td>LG-H324</td></tr><tr><td>Screen size</td><td>480</td></tr

[2016-06-09 08:22] adrianq opened #60 "clussiana@psi.org on build #25: In case of Not tested, why the answer to the next question…"
Feedback from clussiana@psi.org : In case of Not tested, why the answer to the next question doesn't show up in the Info column?

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/57586bc3bf09ff010013bc3a/6631bfd1-a45d-4a1f-8b38-0da51f50ddc6.jpg" width="33%" height="33%" /><table><tr><td>Build</td><td>25</td></tr></table>

 [Link to buddybuild feedback fr

[2016-06-09 08:26] adrianq opened #61 "clussiana@psi.org on build #25: Replace "null" with sex."
Feedback from clussiana@psi.org : Replace "null" with sex.

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/57586bc3bf09ff010013bc3a/7f197947-350b-459a-9a74-6bbcea489623.jpg" width="33%" height="33%" /><table><tr><td>Build</td><td>25</td></tr></table>

 [Link to buddybuild feedback from build 25](https://dashboard.buddybuild.com/apps/56d792f0e4d60101007

[2016-06-09 10:24] adrianq opened #62 "clussiana@psi.org on build #25: The app crashed when I went back to a previous question (in…"
Feedback from clussiana@psi.org : The app crashed when I went back to a previous question (in this case Sex) and tried to change the answer (from F to M).

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/57586bc3bf09ff010013bc3a/079d3382-9cf9-4e09-85c8-efc3a845c4ee.jpg" width="33%" height="33%" /><table><tr><td>Build</td><td>25</td></tr></table>

 [Link

[2016-06-09 10:28] adrianq opened #63 "clussiana@psi.org on build #25: Not sure what Unrecognized means. For both surveys, I went…"
Feedback from clussiana@psi.org : Not sure what Unrecognized means. For both surveys, I went back to previous questions and changed some answers. Maybe this has something to do with this Unrecognized?

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/57586bc3bf09ff010013bc3a/0279da62-c272-4be3-bf2e-3b696d30f2a8.jpg" width="33%" height="33%" /><table><tr>

[2016-06-09 10:33] adrianq opened #64 "clussiana@psi.org on build #25: I took a survey, changed one of the answers I gave (sex),…"
Feedback from clussiana@psi.org : I took a survey, changed one of the answers I gave (sex), completed and sent. It's not appearing in the Unsent or Sent tabs. I have now waited for more than 10 minutes.

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/57586bc3bf09ff010013bc3a/bb5b82a2-b5e5-42b3-bdaf-323f6fa18532.jpg" width="33%" height="33%" /><table><t

[2016-06-09 10:49] ifoche commented on #54
you're right. Working on it

[2016-06-09 10:49] ifoche commented on #55
got it. Working on it

[2016-06-09 10:54] ifoche commented on #57
@QISPSK if you press back the keyboard hides and then you see the options big again. The request is to by default hide the keyboard on moving to the following question?

[2016-06-09 10:54] ifoche commented on #58
Sorry for that. Working on it

[2016-06-09 11:00] ifoche commented on #59
@QISPSK the options have the text embedded in the images you provided to us. Maybe you want to provide us new images using the KhmerOS.ttf font that is the one used for the rest of the application?

[2016-06-09 11:00] ifoche commented on #60
You're right, we have to include that into the info column. Working on it

[2016-06-09 11:04] ifoche commented on #62
sorry...can you recheck? I was not able to reproduce it

[2016-06-09 11:07] ifoche commented on #63
This is definitively a bug. Let me analyse it better

[2016-06-09 11:10] ifoche commented on #64
Not able to replicate it...Can you try to follow the same sequence and tell me if you can reproduce that?

[2016-06-09 14:48] cristinaelle commented on #60
Great. Please, note that as Eli already reported, at the moment that question (In case of Not tested, why? Danger signs, Stock-out of RDTs, etc) is assigned to the wrong answer of the previous question (at the moment it's assigned at Negative while it should be assigned to Not tested).

[2016-06-09 14:52] ifoche commented on #60
@cristinaelle yes, thanks, we've already addressed that issue. We're reviewing the whole info column, because we were not taking into account the new answers in that column. By tomorrow (the French tomorrow) we expect to release the solution for all the bugs that are at this moment reported

[2016-06-10 07:51] cristinaelle commented on #64
I've redone what I did: took a survey, went back to the sex question, changed my answer from F to M, and then completed and sent the survey. This time it has been correctly sent and I can see the correct answers in the Sent tab.

I still have those 2 Unrecognized surveys in my Unsent tab, though. If I click on them, I can open them, see the first question, but then I can't swipe to the next questi

[2016-06-10 07:51] cristinaelle commented on #62
Not able to replicate this either. Temporary problem?

[2016-06-10 07:53] ifoche commented on #62
Maybe an old DB? Not really sure...what do you think? we close the issue and reopen it if it start to happen again and find a pattern?

[2016-06-10 07:54] QISPSK commented on #57
@ifoche That is correct. After the age entry screen, the keyboard should hide by default as there is no need to use the keyboard on the Species screen.

[2016-06-10 07:55] ifoche commented on #64
Looks like a conflict problem...Usually the conflicts happens when the type of the DE is different from the setting in DHIS... As we changed lot of times the server yesterday while we were testing, maybe it's better to wait for this problem to appear again...do you agree?

[2016-06-10 08:05] adrianq opened #65 "clussiana@psi.org on build #25: In the Sent tab, do you think it's possible to change the…"
Feedback from clussiana@psi.org : In the Sent tab, do you think it's possible to change the denominator shown at the bottom left corner from 9 to 2 in case of Not tested and from 9 to 1 in case of Negative?

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/57586bc3bf09ff010013bc3a/6e1ff669-b2f0-4231-9238-675519d867e1.jpg" width="33%" height="33%" /><tabl

[2016-06-10 08:17] cristinaelle commented on #62
Yes.

[2016-06-10 08:17] cristinaelle commented on #64
Yes.

[2016-06-10 08:21] rodmelia commented on #64
Crisitna - when you tested this Igancio and I were doing too many server  - let's close this ticket, and if it happens again, then we look at it.

[2016-06-10 08:21] #64 closed, assigned to ifoche

[2016-06-10 08:22] rodmelia commented on #62
Let's close it - this happened while Igancio and I were changing the server

[2016-06-10 08:22] #62 closed, assigned to ifoche

[2016-06-10 08:28] adrianq opened #66 "qispsk@gmail.com on build #25: Can we hide "Send" "Unsent" and "Monitor" option when thr…"
Feedback from qispsk@gmail.com : Can we hide "Send" "Unsent" and "Monitor" option when thr provider is taking a survey?

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/57586bc3bf09ff010013bc3a/9e72acd1-3643-4ff4-94e2-629f7f7940aa.jpg" width="33%" height="33%" /><table><tr><td>Build</td><td>25</td></tr><tr><td>Device type</td><td>LG-H324</td></tr><tr><t

[2016-06-10 08:30] rodmelia commented on #59
As ignacio is pointing out, the font in the app has not been changed, and we don't want to change it now. If you want a new font, you should provide the file compatible with Android, and we can do the change for the next version.
We recommend that you update your graphics with a font visually compatible with the one in the app. Changing graphics is easy and low risk.

[2016-06-10 08:30] adrianq opened #67 "The font for "(Pf)" and "(Pv)" seems to include a bunch of…"
Feedback from qispsk@gmail.com : The font for "(Pf)" and "(Pv)" seems to include a bunch of space (i.e. (   Pf)), can this be fixed?

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/57586bc3bf09ff010013bc3a/8aa89cc9-100d-474a-9e29-d1604114aa09.jpg" width="33%" height="33%" /><table><tr><td>Build</td><td>25</td></tr><tr><td>Device type</td><td>LG-H324</t

[2016-06-10 08:33] rodmelia commented on #65
This was not in the specs for S5. We think that there is a solution, but will increase the number of hours.

[2016-06-10 08:34] rodmelia commented on #65
@ifoche - please only do if it takes less than 5 hours

[2016-06-10 08:37] rodmelia commented on #66
Was not in the S5 specs. It will be attempted, but if there is a risk of introducing new crash, then it will be moved to S6.

[2016-06-10 08:43] rodmelia commented on #67
The screen shows the artwork provided by you in the SVG file, which includes those spaces. Could you please send updated SVG file with NO spaces?

[2016-06-11 17:07] adrianq opened #68 "clussiana@psi.org on build #26: When I review a sent survey and then go back, it takes me…"
Feedback from clussiana@psi.org : When I review a sent survey and then go back, it takes me back to the Unsent tab. Shouldn't it take me back to the Sent tab?

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/575b4c1dbb15b50100c043ee/7ef01c86-c2de-4672-8015-e6e2ad019d46.jpg" width="33%" height="33%" /><table><tr><td>Build</td><td>26</td></tr></table>

 [

[2016-06-11 17:36] adrianq opened #69 "clussiana@psi.org on build #26: In the Sent tab, for Not tested ones, is it possible to…"
Feedback from clussiana@psi.org : In the Sent tab, for Not tested ones, is it possible to change the denominator at the bottom left corner from 1 to 2, please?

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/575b4c1dbb15b50100c043ee/9106c55d-5f18-4f13-a28b-7216efb92da4.jpg" width="33%" height="33%" /><table><tr><td>Build</td><td>26</td></tr></table>

[2016-06-11 17:37] adrianq opened #70 "clussiana@psi.org on build #26: In the Sent tab, Positive survey: is it possible to change…"
Feedback from clussiana@psi.org : In the Sent tab, Positive survey: is it possible to change the denominator at the bottom left corner of the screen from 1 to 9, please?

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/575b4c1dbb15b50100c043ee/98cb5d2d-5ccf-409b-a9b6-95cd9fd4006d.jpg" width="33%" height="33%" /><table><tr><td>Build</td><td>26</td></tr><

[2016-06-11 19:08] ifoche commented on #69
@cristinaelle , you're right. We have a bug on the denominator when reviewing the questions. We didn't check that. It's the same on #70 and this will happen for all the questions in read-only mode.

[2016-06-11 19:10] ifoche commented on #70
Duplicate of #69

[2016-06-11 19:10] #70 closed, assigned to nobody

[2016-06-11 19:10] ifoche commented on #68
It's reasonable to do that, yes.

[2016-06-11 22:49] adrianq opened #71 "Add space between RDT and Khmer Scripts"
Feedback from qispsk@gmail.com : Should have a space between RDT and Khmer Scripts.

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/575b4c1dbb15b50100c043ee/dad9e7ce-13f4-4e96-a872-d438fcba0d22.jpg" width="33%" height="33%" /><table><tr><td>Build</td><td>26</td></tr><tr><td>Device type</td><td>LG-H324</td></tr><tr><td>Screen size</td><td>480</td></tr><

[2016-06-11 22:54] adrianq opened #72 "qispsk@gmail.com on build #26: After click done the age that we have entered become blank…"
Feedback from qispsk@gmail.com : After click done the age that we have entered become blank or move back to previous number if you want to edit! Anyway this was going well if we click on OK!

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/575b4c1dbb15b50100c043ee/511515dc-b8be-4617-b62b-676b0a0681de.jpg" width="33%" height="33%" /><table><tr><td>Build<

[2016-06-11 22:55] adrianq opened #73 "Add a space to break between ACT and…"
Feedback from qispsk@gmail.com : Again here should have a space to break between ACT and Khmer Scripts

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/575b4c1dbb15b50100c043ee/de33cce9-6eec-4733-9572-4cc94449d0fc.jpg" width="33%" height="33%" /><table><tr><td>Build</td><td>26</td></tr><tr><td>Device type</td><td>LG-H324</td></tr><tr><td>Screen size</td

[2016-06-11 22:57] adrianq opened #74 "qispsk@gmail.com on build #26: The question is about the patient movement in the past two…"
Feedback from qispsk@gmail.com : The question is about the patient movement in the past two weeks so this should be changed the translation!

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/575b4c1dbb15b50100c043ee/c790e600-92e6-409b-97fc-9f2679d5df30.jpg" width="33%" height="33%" /><table><tr><td>Build</td><td>26</td></tr><tr><td>Device type</td><td>LG

[2016-06-11 23:02] adrianq opened #75 "qispsk@gmail.com on build #26: Unrecognized has pushed to sent survey page! What does…"
Feedback from qispsk@gmail.com : Unrecognized has pushed to sent survey page! What does Unrecognized mean?

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/575b4c1dbb15b50100c043ee/0bed0803-f436-4cd6-bd67-6c3fbec2a61e.jpg" width="33%" height="33%" /><table><tr><td>Build</td><td>26</td></tr><tr><td>Device type</td><td>LG-H324</td></tr><tr><td>Screen size

[2016-06-13 01:38] QISPSK commented on #67
Very odd, I retried to save the .svg but other elements seem to be missing - namely the AS/MQ pills. Not sure why this is thrown off in the .svg, but the other elements seem to be fixed, namely the "Reasons for Not Tested" thermometer, the "Referral" wording, and the spaces on the "Species" screen.

Also, if possible, could you use the font and wording of the questions as it appears in the .svg? I

[2016-06-13 01:49] QISPSK commented on #75
I have been able to replicate "Unrecognized" by simulating intermittent internet connection. If I start a survey with WiFi on, complete a few questions, turn WiFi off, complete a few more, and turn it back on, the survey jumps back to the first question ("RDT"). After completing the survey again, the app registers two "unrecognized" surveys. Is there anyway to ensure that the app doesn't jump back

[2016-06-13 06:44] ifoche commented on #75
Thanks for this. Effectively it's clearly a bug. Taking care of it.

[2016-06-13 07:39] ifoche commented on #73
I'm attaching to this issue the image as we got from you in the svg files. I cannot see the space there. Could you provide us with an image with the space? Thanks

![act_no_space_bug](https://cloud.githubusercontent.com/assets/10931645/16000130/95b5c54a-314a-11e6-923f-241e3e6d25e1.png)

[2016-06-13 07:48] ifoche commented on #71
Please find attached in this issue the image that you sent us in svg. Like in ACT, could you provide us with a definitive image, the space included? Thanks

![rdt_space_bug](https://cloud.githubusercontent.com/assets/10931645/16000305/e9c870d2-314b-11e6-93be-4d0480644053.png)

[2016-06-13 08:14] ifoche commented on #67
I let @rodmelia confirm but changing the app font could cause several alerts to split into 2 lines, or to display in a different way, that may be something you don't like. Is it not possible for you to use KhmerOS.ttf font in the images? Do you really prefer the font you're using in the pictures rather that the one used for the rest of the app?

[2016-06-13 09:43] rodmelia commented on #67
@QISPSK - we believe that it is too risky to change the font on the app at this stage of the development. The app has used the same font since day #1. Changing the font will probably have un-intended effects, creating new misalignments or rendering issues, that will result in more last minute fixes. There is also copyright issues that we will have to check for. As far as we know,  this was not in

[2016-06-14 05:35] adrianq opened #76 "clussiana@psi.org on build #27: Positivity rate is: sum of Pos/(sum of Pos and Neg). I…"
Feedback from clussiana@psi.org : Positivity rate is: sum of Pos/(sum of Pos and Neg).
I think I double checked this in a previous version and it was working fine. Now it seems that Not tested cases have been included in the den. Please, refer to the file below.

https://docs.google.com/spreadsheets/d/1CQgZ1EKrVmtSzbR5C_4GH0FplvAwtTgAzFL8-sOK_3U/edit#gid=927663048

<img src="https://s3-us-west-2.a

[2016-06-14 08:03] ifoche commented on #76
@cristinaelle in the screenshot of this issue I can see Positivity rate: 35% for 12 positives in 34 suspected cases...Please correct me if I'm wrong but 12 positives in 34 suspected cases means a positivity rate of 35%...and it's the same for the rest. I don't see the error. It's exactly the same as in the file you shared, Positivity rate = (Positives / Suspected cases) x 100.

[2016-06-14 08:36] rodmelia commented on #76
@cristinaelle - I agree with Ignacio - 12/34 = 35%

[2016-06-14 08:41] rodmelia opened #77 "Moving metadata to production"

[2016-06-14 08:41] rodmelia opened #78 "Activation of Program in Production"

[2016-06-14 08:45] rodmelia commented on #77
Move: Export/ Import (preserve UID)
- New/ updated options/ options sets
- New Data Elements

Update:
- data elements with attribute info
- program setup: stages
- sharing settings

Don't move:
- Org Units
- Data

[2016-06-14 08:48] rodmelia opened #79 "Enable Production OU for user KHMCS"

[2016-06-14 08:49] rodmelia commented on #79
Edit user KHMCS - ensure that every OU that needs to report data is active

https://www.psi-mis.org/dhis-web-maintenance-user/showUpdateUserForm.action?id=3431916

[2016-06-14 08:51] rodmelia opened #80 "Troubleshooting - ensure that you have a process to unblock OUs if required"

[2016-06-14 09:19] rodmelia commented on #59
@adrianq  will send the KhmerOS.ttf font so the art work uses the same font as the application

[2016-06-14 09:21] rodmelia commented on #76
OK - the correct formula is Pos/(Pos+Neg)

[2016-06-14 10:04] adrianq opened #81 "clussiana@psi.org on build #27:"
Sent tab: for Positive cases include Age, Sex, Malaria species, Treatment received, only.

Feedback from clussiana@psi.org :

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/575f6a3cfb328301003fe0cc/254eee70-ae64-4853-bd3b-7ec069049920.jpg" width="33%" height="33%" /><table><tr><td>Build</td><td>27</td></tr></table>

 [Link to buddybuild feedback from b

[2016-06-14 10:34] QISPSK opened #82 "Move "Mixed" to the bottom of the "Species" screen"

[2016-06-14 10:36] QISPSK opened #83 "Sent/Unsent Summary"
Have the summary screen display only the following information:
1. Age
2. Gender
3. Species
4. Treatment (just type, not pills)

[2016-06-14 10:51] ifoche commented on #83
And reason for not tested, isn't it?

[2016-06-15 02:49] QISPSK opened #84 "Image Attribution"
Change "Software Licenses" to just "Licenses"  (អជ្ញាប័ណ្ណ in Khmer, also updated in the translation file) and add the following attribution:
1. Pregnant by Andrew McKinley from the Noun Project
2. https://creativecommons.org/licenses/by/3.0/
3. Color of icon changed to white

[2016-06-15 04:21] QISPSK commented on #59
Unfortunately the KhmerOS.tff font does not seem to allow for sub-consonants in Adobe Illustrator. I've moved this issue to S6 as it looks like we will need to change the font of the questions (and the answers if the Khmer.tff file we used for the images is not compatible with Android) in the next release of the app.

[2016-06-15 04:43] QISPSK commented on #52
Application still appears as "Malaria Case Surveillance" when OS language is changed to Khmer.

[2016-06-15 04:44] #41 closed, assigned to QISPSK

[2016-06-15 04:51] QISPSK commented on #49
Both DEs created in the development server and are correctly registering the date, but the time is listed as 00:00:00 for all events. Doesn't appear to be correctly capturing/displaying the time.

[2016-06-15 05:13] ifoche commented on #52
That's strange, we've even seen reports from your side with the application title in khmer. We're still talking about the application title and not the application name, isn't it?

[2016-06-15 07:40] #44 closed, assigned to QISPSK

[2016-06-15 07:40] #38 closed, assigned to nobody

[2016-06-15 07:40] #48 closed, assigned to QISPSK

[2016-06-15 07:41] #66 closed, assigned to ifoche

[2016-06-15 07:53] #65 closed, assigned to ifoche

[2016-06-15 07:53] #57 closed, assigned to ifoche

[2016-06-15 07:54] #61 closed, assigned to ifoche

[2016-06-15 07:55] #60 closed, assigned to ifoche

[2016-06-15 07:55] #58 closed, assigned to ifoche

[2016-06-15 07:55] #55 closed, assigned to ifoche

[2016-06-15 07:56] #54 closed, assigned to ifoche

[2016-06-15 07:57] #74 closed, assigned to adrianq, ifoche

[2016-06-15 08:34] adrianq opened #85 "TO DELETE - clussiana@psi.org on build #28: Monitoring tab: data on DHA-PIP and AS/MQ are not updating…"
Feedback from clussiana@psi.org : Monitoring tab: data on DHA-PIP and AS/MQ are not updating correctly.

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/5760cc78a7d9390100574b08/d704deab-1101-4b25-a868-60d035e5c216.jpg" width="33%" height="33%" /><table><tr><td>Build</td><td>28</td></tr></table>

 [Link to buddybuild feedback from build 28](https://dash

[2016-06-15 08:36] cristinaelle commented on #85
TO DELETE, thanks.

cristina

[2016-06-15 08:37] #85 closed, assigned to nobody

[2016-06-15 09:23] #68 closed, assigned to adrianq, ifoche

[2016-06-15 09:24] #69 closed, assigned to adrianq, ifoche

[2016-06-15 09:24] #72 closed, assigned to adrianq, ifoche

[2016-06-15 09:25] QISPSK commented on #83
Correct, my apologies, looks like that has been added in - thanks!

[2016-06-15 09:25] #82 closed, assigned to adrianq, ifoche, rodmelia

[2016-06-15 09:25] #81 closed, assigned to ifoche

[2016-06-15 09:26] #76 closed, assigned to ifoche

[2016-06-15 09:29] QISPSK commented on #75
Unfortunately this issue is still cropping up in version 28. The intermittent internet issue seems to be fixed, but I'm still getting "unrecognized" on the phone (it isn't sending to DHIS2) when I got back and change the answer to branching logic questions.

[2016-06-15 09:41] QISPSK commented on #83
Also, just noticed that "Referral" is spelled incorrectly on the sent/unsent summary as the sub-consonant didn't register correctly. Should say: ធ្វើការបញ្ជូន

[2016-06-15 10:14] QISPSK opened #86 "Character Spacing in Questions"
The space between the lines of font (leading) in the following questions need to be adjusted for clarity's sake and/or so the vowels/sub-consonants do not overlap:
1. RDT - slight increase
2. DHA-PIP Split - slight increase
3. AS/MQ Split - increase
4. Referral - decrease
5. Phone Number - increase
6. Reasons for Not Tested - slight increase

[2016-06-15 10:22] QISPSK opened #87 "Negative Answer Change"
After selecting "Negative" on the RDT screen, the user cannot change their answer to "Positive" or "Not Tested"

[2016-06-15 13:37] ifoche commented on #75
@QISPSK I'm not being able to reproduce it. Can you please write down the sequence you follow to get the error? Just guessing but, can it be a bug when changing the server? I'm just guessing but, did you change your server? Are you pointing to https://www.psi-mis.org? Can you test by cleaning the app and reproducing the bug from zero in order to be 100% sure that without changing from one server t

[2016-06-15 13:39] ifoche commented on #52
@QISPSK This issue talks about the title, not the name of the app. Can you please tell me whether that may be the confusion? Are you talking about the name while what we've done is changing the title?

[2016-06-15 18:54] ifoche commented on #56
Copying here from my email:
We're trying to reproduce this bug without any success. Remember that there are still a bunch of old events in each of the old OUs, so if you selected for example "QIS_test_int" and you're looking at the "Sent" list, then it's normal to see "Unrecognized" in old events. Old data not necessarily is valid, and we cannot guarrantee that the values were properly uploaded. D

[2016-06-15 18:56] ifoche commented on #75
closing it as a duplicate of #56 (Unrecognize bug)

[2016-06-15 18:57] #75 closed, assigned to adrianq, ifoche

[2016-06-15 18:57] ifoche commented on #63
Closing it as a duplicate of #56 (Unrecognized bug)

[2016-06-15 18:57] #63 closed, assigned to ifoche

[2016-06-15 18:59] ifoche commented on #84
@rodmelia , @gtrsmith I think it's something that you have to decide. I'm assigning it to you waiting for your decision, and once decided, we can implement it

[2016-06-16 02:30] QISPSK commented on #52
I think that is the confusion. Appreciate you changing the name in the app though! Is it possible to change the name of the app to Khmer when the phone is in Khmer? If not, no worries, or if the issue is too complex to get pushed out in the next day or so, we can always move it to S6.

[2016-06-16 10:09] #78 closed, assigned to QISPSK

[2016-06-16 10:09] #79 closed, assigned to QISPSK

[2016-06-16 10:09] #80 closed, assigned to QISPSK

[2016-06-17 02:06] #71 closed, assigned to QISPSK

[2016-06-17 02:06] #67 closed, assigned to QISPSK

[2016-06-17 02:06] #73 closed, assigned to QISPSK

[2016-06-17 02:07] #52 closed, assigned to adrianq, ifoche

[2016-06-17 02:07] #83 closed, assigned to adrianq, ifoche

[2016-06-17 02:08] #86 closed, assigned to adrianq, ifoche

[2016-06-17 02:08] #87 closed, assigned to adrianq, ifoche

[2016-06-17 02:55] #77 closed, assigned to josemp10, adrianq, ifoche

[2016-06-21 02:36] QISPSK opened #88 "Skipping Questions"
If you're quick enough, you can skip proceeding screens by swiping to the left quickly after entering an answer. Is there a way to prevent this skip from within the app or enforce an answer to questions?

[2016-06-21 02:37] QISPSK opened #89 "OU Send Limits"
It was mentioned in our last Skype call that the app switched OUs to inactive if they've sent more than 30 surveys in 30 minutes. While this is great for when we distribute the phones, can this limit be increased for the pre- and post-test OUs? Trainings have up to 30 participants on one OU at a time sending 5+ surveys each. We're not sure if this is causing issues or not (it doesn't seem like it

[2016-06-21 08:47] rodmelia commented on #89
There are 2 parts for the OU send limit logic:
- counting of '# of Surveys' per 30 minutes is client side
- blocking of a OU is server side

If you have 5 phones pointing to the same OU, each phone can send up to 30 surveys per  30 min.  As soon as one phone send more than 30 surveys per 30 min, the OU will be blocked in the server, stopping any phone from sending more surveys.

Do you still want

[2016-06-21 10:03] QISPSK commented on #49
These DEs seem to crash Event Reports. When they are removed, Event Reports seems to work fine (in most cases). Any idea why this may be?

[2016-06-21 10:50] ifoche commented on #49
The only special thing that these DEs have is they are Date&Time type. So...maybe DHIS2 have a bug with Date&Time types in Event Reports?

[2016-06-21 10:51] ifoche commented on #88
Confirmed, it's a bug

[2016-06-22 04:33] QISPSK commented on #89
It sounds like the current setup actually works in the case of trainings - I thought it was just 30 surveys per OU.

Is the client side count tied to the OU? For example, in these trainings we've been switching between OUs on the same set of phones (usually: pre-test OU --> QIS test int --> post-test OU). A single phone _could_ potentially send more than 30 surveys in 30 minutes during a training

[2016-06-23 01:46] QISPSK commented on #56
We've noticed a ton of unrecognized data for QIS test int on the "Sent" tab of the phone application. Oddly, none of this data appears to be in DHIS2, and it was all sent yesterday - a day that we had no training and thus, at least to my knowledge, no one was entering data aimed at the QIS test int OU.

Any idea why this might be showing up all of a sudden?

[2016-06-23 11:55] ifoche commented on #56
@QISPSK (also mentioning @josemp10 to include him into this conversation). We can see a lof of blanks listed as day 21 in the server that do not exist app side. Our guess is that all those blanks were submitted by an Android device with the date set to 21 (so it was used 21 for establishing the eventDate), but it happened the 22. So I would say that here there are 2 things:
- These days (21 and 22

[2016-06-24 02:08] QISPSK commented on #56
@ifoche Thanks for the detailed response! This does indeed make sense. I think your proposals sound like a good idea and we can keep an eye out for this issue in the future.  We also agree that changing the listing sort order to the event date is preferable to the completion date, although (hopefully) there should only be a minor difference between them.

[2016-06-24 09:50] rodmelia commented on #56
Sorry for the sharing changes - they occurred as Jose and I were fine tuning them.

[2016-06-24 09:54] rodmelia commented on #49
There are 2 issues here. Let's separate them:
1. The data element is expected to save the date AND TIME. IF that's not happening, the problem could be the app, the SDK or the API. Let's focus on this one - we want to capture this data correctly soon (still, not a critical bug)
2. Event reports crashing is a separate issue, and we need to report and work with Oslo to fix it. This is likely to take

[2016-06-24 10:02] ifoche commented on #49
I agree. In principle, task 1 should be done. It's registering date & time. Do you want me to report 2?

[2016-06-24 10:15] rodmelia commented on #49
No - just make sure that the date & TIME is properly saved in DHIS for the
control data elements.

[2016-06-24 11:40] QISPSK opened #90 "Remove Ability to Change Font Size"
Can you please remove the ability to change the font size? The default font size works well (we haven't had any complaints so far) and the other font size options make the application difficult to use. A number of providers have accidentally turned on a different font size and have been unsure how to change it back.

[2016-06-30 07:29] ifoche commented on #49
Can anyone confirm this is done?

[2016-06-30 07:29] ifoche commented on #88
Can anyone confirm this is done?

[2016-06-30 07:29] ifoche commented on #56
Can anyone confirm this is done?

[2016-07-11 01:42] QISPSK opened #91 "Blank Data"
We've started rolling out the application to providers however it appears that provider Cheng Long (02-00-61) has sent over 2000 blank surveys yesterday. We have yet to call the provider to confirm what is happening, but it appears the blank data issue has not yet been solved.

Thankfully, he seems to be the only provider with this issue. Will update as soon as we can call the provider today.

[2016-07-11 01:44] QISPSK commented on #49
Hi @ifoche, it seems like this issue is still a problem. While Event Reports is no longer crashing when including these DEs, both DEs are showing up without any data.

[2016-07-11 01:58] QISPSK commented on #88
@ifoche, I can confirm that I can no longer replicate this, however it appears that providers are still able to skip over questions and submit data.

We visited a MMW yesterday who was able to submit a survey with just the RDT and gender screen filled out. He couldn't explain how it happened, but the survey did get sent to the server. We have since deleted it as he was simply testing the applicati

[2016-07-11 04:04] QISPSK commented on #56
@ifoche This issue is also unfortunately not fixed. We're still seeing unrecognized under qis_test_int. It may be associated with switching OUs during the trainings, but we aren't certain. Unrecognized is also likely showing up in the "Blank Data" issue submitted earlier today, but will confirm when we can contact the provider.

[2016-07-11 04:24] QISPSK opened #92 "Monitor Module Incorrect Calculations"
A number of the monitor module calculations seem off. We had a provider (Luong Sovuthea) submit images of his phone where he sent one Pv case and one Mixed case and the monitor module reported it as a Pf and a Pv case with zero mixed cases.

I tested this today under KH MCS Pre-Test_MDK_05 by submitting the following data which is compared to what the monitor module says below.

[code]

Suspected

[2016-07-11 10:08] ifoche commented on #49
Hi @QISPSK ,

I've just looked at the server and I can see them...

![time12_bug](https://cloud.githubusercontent.com/assets/10931645/16727126/dcde1118-475f-11e6-8f64-2799611d236f.png)

isn't it what you were expecting?

[2016-07-11 10:12] ifoche commented on #56
Hi @QISPSK, I can confirm that this is probably only a consequence of the blank data bug. In fact, this is a protection against that. If this were not showing Unrecognized, the app would be crashing for not finding a valid option. So I would consider this not as a failure itself but as a consequence of blanks...don't you think? (thinking on closing the ticket)

[2016-07-11 10:14] ifoche commented on #88
ok @QISPSK thanks for the efforts. I will try to replicate that too.

[2016-07-11 10:27] ifoche commented on #91
@QISPSK I've also seen that problem in QIS_test_int OU, so we give it the maximum priority to try to find out which situation is generating those blanks.

[2016-07-11 10:36] ifoche commented on #91
@QISPSK can you confirm that device in Cheng Long (02-00-61) is using Google Play app in its last version?

[2016-07-11 10:40] QISPSK commented on #49
Strangely, no. Both DEs show up blank for all the surveys sent so far. Maybe it is just my permissions? I can have staff check here tomorrow.

![image](https://cloud.githubusercontent.com/assets/17549893/16727896/8e2288aa-478d-11e6-9f9f-b005c9c93cb1.png)

[2016-07-11 10:45] QISPSK commented on #91
He should be. Technically he has no way to check as we've locked down settings on the phone for providers. Just in case, I've sent a request from Google Play to remotely install the latest version just now so hopefully that fixes the issue.

Panharith was able to contact the provider and had the following to say:

"On the excel that I have extracted from DHIS2 shown me that one negative case came

[2016-07-11 10:46] QISPSK commented on #56
I think closing this ticket is perfectly fine. Definitely seems like the issue is only linked to blank data and should resolve itself once that issue gets fixed.

[2016-07-11 11:11] #56 closed, assigned to adrianq, ifoche

[2016-07-11 11:15] ifoche commented on #49
Can you make a test by sending to QIS_test_int and checking that you cannot see it? BTW, which tool/webapp are you using to see it? my screenshot was from an Event Capture execution.

[2016-07-11 14:27] ifoche commented on #91
@QISPSK we'll explore that possibility. It's difficult to simulate a bad GPS connection, but we'll try to guess what could go wrong in case GPS doesn't work properly. Thanks!

[2016-07-11 16:58] ifoche commented on #92
@QISPSK we've found this, apparently we were putting the Pf data in Mixed and viceversa in the monitoring table. We'll include the fix in next bb version with the rest of the bugfixing

[2016-07-12 01:39] rodmelia commented on #92
Please give this super high priority - this needs to be released to gPlay
asap.

On 11 July 2016 at 23:58, Ignacio Foche notifications@github.com wrote:

[2016-07-12 01:48] rodmelia commented on #49
I can confirm that the event report is not displaying DE of type date
correctly. The information is being stored correctly in DHIS, as per
ignacio's screenshot (which shows it on the event capture).

We need to get UiO to fix that problem, but it could easily take 3-4 weeks
- they are currently closed for summer holidays.

On 11 July 2016 at 18:15, Ignacio Foche notifications@github.com wrote:

[2016-07-12 02:21] QISPSK commented on #49
Thanks for the update Rodolfo! It's not crucial that we have this immediately and I've downgraded it's importance to low. 3-4 weeks shouldn't be a problem.

[2016-07-12 03:05] QISPSK commented on #91
Quick update: Chan Makara (05-27-71) has also begun to send blank data. As a precautionary measure, we've remotely requested to install the latest version of the app and we will reach out to him today to see what is going on.

[2016-07-12 04:23] QISPSK opened #93 "Remove Phone GPS Tracking"
This was brought up awhile back, but we wanted to reopen this issue as a number of staff in our plantation program are concerned that GPS tracking may strain relationships on the plantations.

When we initially mapped the plantations for DHIS2, we had a large amount of push back from owners in terms of where we could pull GPS data from. Should owners learn that the application is collecting data w

[2016-07-12 07:01] rodmelia commented on #93
Are you asking to remove GPS capturing all together for all OUs?
Or to remove GPS capturing selectively?

On 12 July 2016 at 11:23, QISPSK notifications@github.com wrote:

[2016-07-12 07:14] QISPSK commented on #93
Is it possible to remove it for select OUs? If so, I guess that would work, but since we have this information already in DHIS2, it may make sense to completely get rid of GPS tracking, especially if it would speed up the application or if incorrect GPS information is leading to the sending of blank data.

[2016-07-12 09:41] ifoche commented on #93
Hi @QISPSK, I think blanks are not related to GPS coordinates, as I've seen blanks with GPS coordinates in QIS_test_int from a couple of days ago. However, we can of course deactivate GPS if that's best for you. It could be done only over a subgroup of OUs, but how do we tell the app that an specific OU is GPS traceable or not? The only thing that I can think about is by using an OU attribute, but

[2016-07-13 00:29] rodmelia commented on #93
We cannot remove the GPS capture coordinates until next version - this is a major change, and his the sort of changes the make the application unstable.

@cristinaelle : KH is asking to remove GPS capture coordinates - what do you think?

[2016-07-18 10:17] #92 closed, assigned to adrianq, ifoche, rodmelia

[2016-07-19 00:42] adrianq opened #94 "clussiana@psi.org on build #36: no list of OUs appears. tried several times. logged in with…"
Feedback from clussiana@psi.org : no list of OUs appears. tried several times. logged in with psk_test and ABC123456

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/57868ce1a123950100ebb341/4caa279e-c6ba-48d2-8acc-2350e01407c5.jpg" width="33%" height="33%" /><table><tr><td>Build</td><td>36</td></tr><tr><td>Device type</td><td>SM-T531</td></tr><tr><td>S

[2016-08-08 03:38] QISPSK opened #95 "Success of DHIS2 Pulls"
When syncing the list of OUs and/or syncing the OU to the application, intermittent/slow internet connections can result in the sync failing. However, failures result in a successful sync message. Is there any way to make sync failures more clear?

[2016-08-25 10:20] QISPSK opened #96 "Duplicate Data"
Hi all,

As mentioned in the email today, we are still seeing issues with duplicate data being sent by the newest version of the application (1.2.5). This issues was noticed at the most recent rollout training in Kep where we had serious issues with internet connectivity and while we can't quite replicate the issue here in Phnom Penh, we highly suspect that spotty internet coverage is to blame.

[2016-08-25 10:21] #91 closed, assigned to adrianq, ifoche, rodmelia

[2016-08-30 03:03] QISPSK opened #97 "Slow DHIS2 Sync"
Is there anyway to speed up the sync with DHIS2? Perhaps on the second sync for OUs that don't have any MCS app data? The sync seems to take an inordinate amount of time regardless of internet connection speed. Not entirely sure what is syncing or if this process can be sped up at all.

[2016-08-30 03:06] QISPSK opened #98 "Odd GPS Points"
We've recommended removing GPS points in S6, but wanted to highlight the fact that the current version of the app is giving some strange GPS points.

One provider is shown to have sent data from Bangkok despite never having traveled there and another two are reporting from Riyadh, Saudia Arabia. Any idea why this may be happening? Not a huge issue for Cambodia, but thought it might be something to

[2016-09-16 08:28] QISPSK opened #99 "Monitor Module and Historical Values"
On both the newest version of the app (1.2.5) and the newest master BB build (43), historical values do not seem to be adding to totals in the monitor module. For example, QIS_test_int has seen 4 cases of Pf this month and 1 case of Pv, however the monitor module only shows 3 cases of Pf and 0 of Pv due to the fact that the two most recent cases were sent after historical values were updated. The

[2016-09-16 08:54] ifoche commented on #99
Hi @QISPSK. I don't know if I'm properly understanding the issue. Let me tell you my guess.

The app is not automatically refreshing the monitor module when a survey is sent and to do so, you have to manually move to another tab and then back again to monitor. Remember that monitor module is showing only the statistics for the sent surveys (not for those pending to be sent). Hence, once you finish

[2016-09-16 08:57] josemp10 commented on #99
@ifoche, this is something we are going to solve from the server side (I
already talked to @QISPSK about that). It is because having the old option
codes values with the new ones in the server

On 16 Sep 2016 10:54, "Ignacio Foche" notifications@github.com wrote:

[2016-09-16 08:59] ifoche commented on #99
Hi @josemp10. Ok, that's fine. Thanks

[2016-09-16 09:05] ifoche commented on #88
@QISPSK I was not able to replicate this anymore...I'm moving to backlog just to keep an eye on it and if you see this again please report in order to let us go deeper and try to find out how can it happen.

[2016-09-16 10:21] QISPSK commented on #88
@ifoche Will do. I think providers are no longer able to skip questions, but sometimes the data doesn't come though completely and it appears in DHIS2 as if the provider had skipped a question. Regardless, it is definitely something we will monitor going forward and let you know if it crops up again. Thanks!

[2016-09-21 09:38] QISPSK commented on #49
Any updates on this? UNOPS would like to change one of our indicator to track number of cases submitted within 24 hours and we would like to use these two DEs to track this, if possible.

[2016-09-21 11:15] josemp10 commented on #49
hi, this is a dhis2 bug that has been already reported to Oslo. No answer
yet (likely because we are in 2.22 and they are about to finish with 2.25).
I will try again, but maybe this is not going to be possible until we
migrate to 2.25, likely in Jan 2017. Normally Oslo does not support that
old dhis2 versions. Will try again anyway..

On Wed, Sep 21, 2016 at 11:38 AM, QISPSK notifications@github.

[2016-09-21 11:27] josemp10 commented on #99
BAO has submitted the script to the server (updates historical option codes values to the current ones).  It runs every 24 hours at 10 am EST.

[2016-09-26 10:42] #99 closed, assigned to josemp10, rodmelia

[2016-10-15 06:01] QISPSK commented on #97
This is increasingly becoming a bigger issue as it appears that the phone is downloading more data. The initial sync seems to require at least 11MB of data for the list of OUs and was timed at more than 40 minutes on a 3G connection at a recent training in Kratie (note that 22 other phones were attempting to sync with DHIS2 at the same time, not sure if this affects the sync). I'm not entirely sur

[2016-10-16 09:51] ifoche commented on #97
@QISPSK I think we're hitting an issue that's mainly a "production" issue, not happening in dev environments where the amount of data is very reduced, the server usage is almost nothing, and so the syncs take place in only a couple of minutes.

Certainly, there are some strategies we could be able to address in order to speed up that synchronisation. In my opinion, this slow sync has to do with th

[2016-10-19 03:21] QISPSK commented on #97
Hi @ifoche, thanks for your detailed response! That definitely helps clarify what is going on behind the scenes of these syncs.

We're a bit busy this week with a regional meeting, but we will definitely test out the second option when we get the chance (likely early next week). Initial reactions to making users for every OU from MIS were quite negative given the large amount of work that this wou

[2016-10-19 07:13] josemp10 commented on #97
Hi guys,

I'm jumping in here...

About using dev server, first we need to be sure that the org. units are
the same in both servers, if not we should move them from production to
dev. How many org. units (and which ones) are you talking about? Then it
would be possible to move events from one server to other, yes...(well the
programs have to be sync in both servers).

@QISPSK https://github.com/QI

[2016-10-19 08:46] rodmelia commented on #97
Hi - the app was always conceived as not needing users. We clearly
understand the heavy impact that managing hundreds of users will have
locally, and it is an overhead that it isn't needed: that's the magical
part of this app: no needing multiple logins. I don't see the business need
of logins for keeping the functionality that we have or envision on the app
(please refute my argument if you can i

[2016-10-19 08:56] ifoche commented on #97
@QISPSK one quick derivative of the third strategy would be to give the user the possibility of selecting the amount of data (s)he wants to download from the Login screen. If we add that option keeping 6 months as the default value, maybe that could provide another solution to the trainings, and that much quicker to implement than the selective download.

@rodmelia sure! we can keep chatting in an

[2016-10-24 07:34] QISPSK commented on #97
@josemp10 and @rodmelia  Thanks for jumping in guys - your input is always appreciated!

@ifoche The ability to choose the amount of data is an interesting one - definitely something we would be interested in if that was quick and easy to implement. It solves the issues in training, but it doesn't necessarily solve the longer term problems of MDOs/QAOs/POs/etc. having to spent too long at provider

[2016-10-25 18:21] rodmelia commented on #97
Hi - I've added Graham & Chris via email. The recommendation that we want
to put forward is:

_1. Short term - add to the login screen a new 'periods' dropdown,_ to
select the number of days/weeks/months to sync. _By default this value will
be 0_, and we will offer 6 days, 6 weeks and 6 months (in line with
monitoring). Under-the-hood there are no changes: the app still need to
download 0 events (

[2016-10-26 04:15] QISPSK commented on #97
@rodmelia This sounds like a good approach to us! It'll mostly be a training issue for the moment, but it will be good to have the longer term solution in place in Q1 as we work to validate data and switch everyone away from paper records.

[2016-10-27 15:39] purdych1 commented on #97
Hi Rodolfo,

I discussed this with Sarah, we’ll need a project code from the Cambodia team for this work to be completed since Cambodia has commissioned this request, and 3919CAMB for Malariacare (the previous code for MCS) is expired as of September 30.

Cambodia team – please respond here with the project code that this work will be charged to, then we can proceed.

Thank you,
Chris

From: QISPS

[2016-10-27 15:52] QISPSK commented on #97
Hi @purdych1 , you can charge to 4262CA for this. Let me know if you need anything else!

[2016-11-03 18:00] ifoche commented on #97
@QISPSK we've just generated a new version with the fix. Please let me know whenever you test it if you find any bug. Otherwise, please close this issue. Thanks!

[2016-11-04 09:54] QISPSK commented on #97
@ifoche Thank you! We've been testing it out today and haven't found any bugs. The sync time reduction is huge and will make phone setup and testing significantly easier. Most of the team is in the field training the app to providers, however they will install and test the BB build during the training tomorrow and report back if they run into any major issues. I'll keep you in the loop and let you

[2016-11-04 10:06] ifoche commented on #97
@QISPSK that sounds great. Thanks for reporting anything you could find.

[2016-11-18 01:37] #97 closed, assigned to adrianq, ifoche, gtrsmith

[2016-11-18 01:41] QISPSK commented on #97
@ifoche Sorry for the slow response on this! We've been on holiday for most of the past week and a half. We've done some testing and haven't run into any issues with the newest BB version and it significantly speeds up the initial setup steps which is great! I've gone ahead and moved this issue to "Done" and think you can go ahead and publish this to the Play Store. Looking forward to the DHIS2 2.

[2016-11-18 01:44] QISPSK commented on #96
Hi all,

Just wanted to check on the status of this issue. It looks like it was moved to "Testing," is a duplicate data fix included in the newest BB version of the app? If so, we have yet to test this out. Let us know and we can do some trial runs to see if the issue has been fixed.

Thanks,
Eli

[2016-11-18 07:45] ifoche commented on #96
Hi @QISPSK. Exactly. Last bb version incorporated a fix to solve the only source of duplicates we were able to find, so if you can test it and tell us if there's no duplicate anymore, that would be great. We're also now rewriting a piece of code that was not very clean (we call that "code refactoring"), so if we find any other potential source of duplicates we will notify you quickly.

[2016-11-18 09:45] QISPSK commented on #96
Hi @ifoche. A quick test today revealed that duplicate data is still an issue on an intermittent internet connection so I have moved this issue back to "Ready" again.

The two api links can be found here and are under the KH MCS Post-Test_BMC_01 OU:
https://www.psi-mis.org/api/events/XwtHTmzF14L
https://www.psi-mis.org/api/events/xZVLkKEGJVp

Let me know if you have any questions.

Thanks,
Eli

[2016-11-18 15:28] ifoche commented on #96
Hi @QISPSK, thanks for testing could you describe the process you followed to create the duplicate? I'm starting to blame to an eventual server side bug, but I want to replicate it myself if you can show me how.

[2016-11-18 16:28] rodmelia commented on #96
It is hard for me to think that this is server side - we have a web app,
doing over 100k events per month, and we have never had duplicates...

On 18 November 2016 at 16:28, Ignacio Foche notifications@github.com
wrote:

[2016-11-18 17:19] ifoche commented on #96
yes...but I'm sure that webapp doesn't have connectivity problems...right? It's installed on the same server? or even if it's different, probably its connection is not intermittent, right? I'm pretty sure that the API call action is quite atomic...so I wouldn't put all the eggs in that basket but I don't want to completely discard the idea

[2016-11-20 12:02] QISPSK commented on #96
Hi @ifoche, in order to create the duplicates, I typically enter a large number of tests (~10 - 15 or so, mix of positive, negative, and not tested) while turning the WiFi on and off during the course of the tests. I think the duplicates come up when I successfully cut a full sync from happening (i.e, only 5 of the 10 unsent surveys send before I cut off the WiFi). I'd be happy to make a video of

[2016-11-22 08:14] ifoche commented on #96
Hi @QISPSK just to let you know we've just found the source of duplicates originating those ones, when connection is intermittent. It was really hidden, but we've got it. Working on the solution that we've also already design so you will have a solution to test very soon.

[2016-11-22 08:56] QISPSK commented on #96
@ifoche Excellent news! Looking forward to testing it out soon!

[2016-11-22 09:01] QISPSK commented on #97
Hi @ifoche, I'm not sure how long the duplicate data fix will take (sounds like it should be pretty quick), but we are currently setting up phones for a training next week and were curious if you could push the current BB version to the Play Store today/tomorrow. The sync drop down significantly reduces phone setup time and will ensure that the OU switching during the training goes off without a h

[2016-11-22 09:07] ifoche commented on #97
Hi @QISPSK. Ok, I'll push to Google play the current version and I'll try to generate the new bb version (with the fix for the duplicates) as soon as possible (eventually today, or maximum tomorrow if things get more complicated than expected at any point)

[2016-11-23 04:08] QISPSK commented on #97
@ifoche  Thanks for releasing the update! It crashes on my LG G3, but seems to be running just fine on the phones that matter - the LG Leon and LG K7.

[2016-11-23 11:45] QISPSK opened #100 "Monitor Module Stock Count"
Low priority issue, but could we have the monitor module track the number of pills provided instead of the number of individual who visited? Right now, regardless of a providers selection, it adds a "1" to the AS/MQ or DHA-PIP column in the monitor module when they complete a positive survey. However, we'd like to have it instead report based on the number of pills selected. Given that pills shoul

[2016-11-23 14:50] ifoche commented on #97
@QISPSK is your LG G3 Android version 6.0 and the others 4.x or 5.x? There's a problem with 6.0 permissions that we could fix in this new bb version, and that could definitively be the problem on your LG G3. There's a not obvious way to make it work manually giving those permissions in 6.0 (to avoid the crash) but we can implement it automatically in the code, so 6.0 would also be compatible witho

[2016-11-24 00:40] ifoche opened #101 "OU ban system broken"

[2016-11-24 00:41] ifoche opened #102 "Permissions on Android 6.0 broken"

[2016-11-24 00:49] ifoche commented on #96
@QISPSK. Now generating the new bb release with the solution to this problem. Hopefully it shouldn't crash on any device (even if it's 6.0). Please, let me know otherwise.

[2016-11-24 01:36] QISPSK commented on #102
@ifoche Thought it would be better to confirm here, but yes, my G3 is on 6.0.1

[2016-11-24 12:43] ifoche opened #103 "Multi-user login issue"

[2016-11-24 12:47] ifoche commented on #103
@QISPSK sorry but we've detected we introduced a bug on last release affecting the login user. In last Login Screen refactor, somehow we stop using the hardcoded common user to download the OUs and start using the username that you enter through the Login screen. This have obvious consequences if the username you use does not have access to the OUs you need to upload data to, or if that username r

[2016-11-24 17:55] ifoche commented on #103
@QISPSK  sorry for the inconveniences. The release that's now being generated have this OU problem solved. Please let me know if you find any further problem

[2016-11-28 03:59] adrianq opened #104 "qispsk@gmail.com on build #50: Like the new tab names that match HNQIS! Can we change the…"
Feedback from qispsk@gmail.com : Like the new tab names that match HNQIS! Can we change the far right one to just "Assess?"

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/5837295e5399290100e94662/c9ef858d-1407-4ab8-8bb6-90233507ede9.jpg" width="33%" height="33%" /><table><tr><td>Created</td><td>Mon Nov 28 2016 03:58:54 GMT+0000 (UTC)</td></tr><tr><td>

[2016-11-28 04:02] adrianq opened #105 "qispsk@gmail.com on build #50: Is it possible to show the synced OU at the top here as it…"
Feedback from qispsk@gmail.com : Is it possible to show the synced OU at the top here as it was in previous builds? Very minor so if its too much work, no worries, but it was helpful in quickly figuring out which phone is which.

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56d792f0e4d6010100721090/5837295e5399290100e94662/ff0b91da-c892-4b6e-83f6-881052f7c30f.jpg" width="33%

[2016-11-28 09:59] ifoche commented on #105
Sorry, this is a collateral damage of a code refactor we made recently. We're solving it now, and we will generate a new release once finished.

[2016-11-28 10:01] ifoche commented on #104
@QISPSK Sure! we'll include this change in the release we're about to generate with the fix to the actionbar bug

[2016-11-28 14:05] ifoche commented on #104
We've just launched a new release with last bugfixing. Please let me know if you find any other bug.

[2016-12-06 04:33] QISPSK commented on #96
@ifoche After testing this out a handful of times, I cannot replicate the duplicate data issue! I've moved this issue to done and we'll keep  a close eye on this issue as soon as the newest version is released. Thanks!

[2016-12-06 04:33] #96 closed, assigned to adrianq, ifoche, rodmelia

[2016-12-06 04:35] QISPSK commented on #104
@ifoche It looks like the newest build changed the tab names back to "Unsent," "Sent," and "Monitoring." Not a major change, but would be nice to keep this consistent with HNQIS *though "Sent" isn't really an "Improve" module...)

[2016-12-06 04:36] QISPSK commented on #105
@ifoche Seems to be fixed in BB51, moved issue to "Done"

[2016-12-06 04:36] #105 closed, assigned to ifoche

[2016-12-06 04:37] QISPSK commented on #103
@ifoche Not sure how to test this, but will take your word and assume it's done. We're still running into issues with the OU limit in DHIS2, but it sounds like @josemp10 is working on a script to overcome this issue until we upgrade to 2.25. Moved this issue to Done.

[2016-12-06 04:37] #103 closed, assigned to ifoche

[2016-12-06 04:39] QISPSK commented on #101
@ifoche Not entirely sure what this issue, but going to assume it's all fixed up? Anyway we can test this here?

[2016-12-06 06:46] ifoche commented on #101
@QISPSK yes, it's the OU ban system. This system was introduced long time ago in the release to prevent from a user abuse. So if somebody tries to send more than 30 surveys in an hour, the app closes the OU and no more data can be sent to that OU, so only an admin can reopen it, by removing the close date from the server. If it's properly working, sending 31 in less than an hour would make the tes

[2016-12-06 06:52] ifoche commented on #104
@QISPSK sorry, I think I misunderstood your requirement. So which tab names would you prefer for next build? Here some options that sound good to me:
- UNSENT | SENT | MONITOR
- ASSESS | SENT | MONITOR ?
- ASSESS | REVIEW | MONITOR ?

[2016-12-06 07:52] QISPSK commented on #104
@ifoche After a quick survey of opinions around the office, it sounds like we should just keep it the same given that we have trained on this already. Sorry for the confusion - thanks!

[2016-12-06 07:52] #104 closed, assigned to ifoche

[2016-12-06 09:12] QISPSK commented on #102
@ifoche Issue seems resolved, working on my G3 on 6.0.1 now. Moved to "Done."

[2016-12-06 09:12] #102 closed, assigned to ifoche

[2016-12-06 09:23] QISPSK commented on #101
@ifoche Tested and it is properly working, thanks! Marked as "Done."

[2016-12-06 09:23] #101 closed, assigned to ifoche

[2016-12-06 10:36] ifoche commented on #104
No problem. So I move it to "Done" or you mean change it back to
ASESSS - ACTIVE | IMPROVE | MONITOR?

[2016-12-06 10:36] ifoche commented on #104
ok, I see you've moved it to done :)

[2017-01-09 10:04] QISPSK opened #106 "Odd Dates"
There are 47 events in DHIS2 listed as being sent in 2010. Panharith reached out to these providers and they mentioned that a lack of internet access may have changed the phone date to 01-01-2010 which was then reported when they submitted MCS app surveys. Not sure if this is a DHIS2 or a MCS app bug.

It appears that the issue may have been going on for a while now (according to the "Time Sent" D

[2017-01-10 14:02] ifoche commented on #106
Hi @QISPSK,

The app uses the Android time to decide what in DHIS will be considered as the Event Date, this is, the date used for the analytics and for everything else. That time must be taken from the android phone, and not from the server, because server side all the events that arrive at the same time will have the same "last modification time". I mean, the server only knows about the events w

[2017-01-11 09:27] QISPSK commented on #106
@ifoche That makes sense, very odd though. I think adding functionality to the app would likely further complicate things in that case. Instead, we should be able to manually update the dates in DHIS2 from our side.

In the case that this does happen, particularly where this happens multiple times, we can have a supporting officer remove the network acquired time and manually set the time on the p

[2017-01-11 09:43] rodmelia commented on #106
@ifoche @QISPSK I don't think we should think about new features to deal with this - this is a key piece of the functionality of the app: to record the actual time of when the test was conducted, which can ONLY be accomplish by using the date/ time of the phone, as we allow offline data collection. A phone connected to a 3G network having the wrong date/ time is almost impossible nowadays.

As par

[2017-01-24 02:29] #106 closed, assigned to josemp10, ifoche, rodmelia

[2017-01-24 02:29] #94 closed, assigned to nobody

[2017-01-24 02:33] QISPSK commented on #93
@ifoche Unless this speeds up the app considerably, I don't think this is something we need to remove going forward as we have had zero complaints. While some GPS points have come through incorrectly, it may serve a purpose later down the road and is particularly useful for programs that have yet to map out all of their providers (and may be useful for us to ensure the providers we have mapped hav

[2017-01-24 02:33] #93 closed, assigned to adrianq, ifoche, cristinaelle, rodmelia

[2017-01-24 02:36] QISPSK commented on #89
@ifoche Can this limit be removed entirely? It seems to have locked out a number of OUs recently that are sending legitimate surveys and doesn't seem to prevent duplicate or blank data.

[2017-01-24 07:42] ifoche commented on #89
Sure. It was not introduced to prevent duplicate or blank data, but to avoid user abuse in case any user start sending surveys out of control. I suppose we wait for 2.25-compatible to remove it, right?

[2017-01-24 07:45] QISPSK commented on #89
@ifoche I don't think there is any rush to remove it and we can wait for 2.25 compatibility. It's something we will monitor on our end, but we do have providers who (surprisingly) occasionally see more than 30 legitimate suspected cases per day and just need to make sure they aren't locked out of the system when they try to send cases the next month.

[2017-01-24 08:01] ifoche commented on #89
@QISPSK that's fine, we can raise this number to something like 500 if you still want to keep this feature for extreme cases, or totally remove it, both are very simple to implement. Which option do you prefer?

Else, I've moved this issue from the old S6 milestone to the new v1.3 to follow the new versioning nomenclature we're using, where S5 is v1.2 and S6 is v1.3.

[2017-01-24 08:05] QISPSK commented on #89
@ifoche Nomenclature change makes sense. I think we can probably just remove this feature. We haven't seen anyone abuse data entry up to this point and it wouldn't be possible to tell if they did unless they directly contact us (or we do a scan for locked OUs each month). It seems to be preventing legitimate surveys so we might as well toss it and reintroduce it if we start to see something crazy

[2017-01-24 08:19] ifoche commented on #89
@QISPSK you're totally right. We will remove it for next release.

[2017-04-05 16:45] #32 closed, assigned to nobody

[2017-04-05 16:47] ifoche commented on #90
@QISPSK We've refactored the way we implemented the font sizes, can you please give it a try and let us know if it doesn't work as it is now?

[2017-04-05 16:48] ifoche commented on #95
@QISPSK As we've changed the way we do the pulls now, can you please try again and let us know if it's still not working? I hope you'll experiment a better performance now

[2017-04-05 16:53] ifoche commented on #98
@QISPSK it's quite strange. In principle, it's taking the coordinates from the location system of the phone, so unless the phone has problems with this service (which sometimes is the case) that shouldn't occur. The important thing is that location is not something we can get instantaneously but we would recommend keeping it enabled during all the work time, to improve its precision. Thank you for

[2017-04-20 02:48] QISPSK commented on #59
![image](https://cloud.githubusercontent.com/assets/17549893/25211225/6096aa7e-25ae-11e7-8fa0-c985c75fffb9.png)

Moved back to "Backlog" as this remains an issue.

Given that these are images, this may not be possible to change, however, would it be possible to convert these to text in a later update (say, S7) that would allow consistent font sizes or would this create issues with scaling to diffe

[2017-04-20 02:52] QISPSK opened #107 "Sent Screen Duration Selection"
![image](https://cloud.githubusercontent.com/assets/17549893/25211348/10ba4352-25af-11e7-8784-210b1786574b.png)

Duration selection on the Sent Screen is too small to accommodate the available options in Khmer.

If possible, the duration selector for the Sent Screen should match the Monitor Module which would provide more room for the Khmer text.

[2017-04-20 02:53] QISPSK opened #108 "Monitor Module "Last""
![image](https://cloud.githubusercontent.com/assets/17549893/25211438/6d352138-25af-11e7-8224-8c08b08d4d6b.png)

The last 6 days/6 weeks/6 months on monitor module should include today/this week/this month.

Since we want to keep “last” consistent with how DHIS2 uses “last”, can we change this to “previous” or some other word so as not to generate confusion?

[2017-04-20 02:56] QISPSK opened #109 "Incorrect Translations - Review Screen"
![image](https://cloud.githubusercontent.com/assets/17549893/25211534/dbed3eee-25af-11e7-92df-c9f81c21e1ac.png)
![image](https://cloud.githubusercontent.com/assets/17549893/25211567/f9bee90e-25af-11e7-98e8-64229b2a8c07.png)

1.	ផ្លាស្មូដ្យូម វីវ៉ាក់ (Pv) includes an extra “ផ” character at the beginning

2.	ចំរុះ (Mixed) includes an extra apostrophe at the end

3.	Spacing on ធ្វើការបញ្ជូន in the qu

[2017-04-20 03:00] QISPSK opened #110 "Treatment Amounts - Review Screen"
![image](https://cloud.githubusercontent.com/assets/17549893/25211612/2be8fc30-25b0-11e7-858e-bea99c529eac.png)

Is it possible to change the ACT review screen answers to pill quantity instead of weight/age banding? I.e., instead of “5 – 10 Years, 19 – 30 kg” it would instead say “4.5 pills”

[2017-04-20 03:01] QISPSK opened #111 "Blanks and Incorrect Ordering - Review Screen"
![image](https://cloud.githubusercontent.com/assets/17549893/25211656/642fde74-25b0-11e7-8695-c554fb56df32.png)

Changing answers mid-survey lead to inconsistent ordering of the review screen and, occasionally, blanks

[2017-04-20 03:02] QISPSK opened #112 "Demo Mode Toggle?"
![image](https://cloud.githubusercontent.com/assets/17549893/25211676/8578a0c0-25b0-11e7-9b5a-32e4f46ada2e.png)

Is it possible to change “Run in Demo Mode” to a toggle so if providers accidently select this option, they can easily switch back to their OU?

[2017-04-20 03:04] QISPSK commented on #84
Relocated to "Backlog" as I don't see it in any of the sections of the application. Not really sure where it should be placed, however... Perhaps "About" or "Copyright"?

[2017-04-20 03:04] QISPSK opened #113 "Negative/Not Tested Review Screen"
Is it possible to add a review screen for “Negative” and “Not Tested” responses as well?

[2017-04-20 03:05] QISPSK opened #114 "Sent Screen "Last""
![image](https://cloud.githubusercontent.com/assets/17549893/25211732/e9de3732-25b0-11e7-93e0-91cb2b406770.png)
![image](https://cloud.githubusercontent.com/assets/17549893/25211755/fefde77a-25b0-11e7-9a1e-151cddd8b6c3.png)

Sent Screen “Last 6 Months” does not include the current month, however the other “Last” options do

[2017-04-20 03:07] QISPSK commented on #90
![image](https://cloud.githubusercontent.com/assets/17549893/25211799/39caef6a-25b1-11e7-9b38-65267b56c148.png)

Moved back to "Backlog" as custom font sizes are not translated to Khmer. Translations are as follows:

1.	Extra Small: តូចបំផុត
2.	Small: តូច
3.	Medium: មធ្យម
4.	Large: ធំ
5.	Extra Large: ធំបំផុត

[2017-04-20 03:08] QISPSK commented on #90
Also, font size changes seem to only affect the question, not the answer, though I assume this has to do with the fact that the answer options are still images

[2017-04-20 03:09] QISPSK opened #115 "Sent Screen "This Month" Date Range"
![image](https://cloud.githubusercontent.com/assets/17549893/25211847/7672017e-25b1-11e7-9d03-0274c00b9407.png)

Sent Screen “This Month” includes dates outside of the current month

[2017-04-20 03:10] QISPSK opened #116 "Case Classification - Review Screen"
![image](https://cloud.githubusercontent.com/assets/17549893/25211876/ac7c236c-25b1-11e7-8222-20aa0077a8c1.png)

Is it possible to change “Yes/No” response for patient history to “Imported/Local”?

In Khmer, these would be:
1.	Imported: ករណីនាំចូល
2.	Local: ករណីក្នុងតំបន់

[2017-04-20 03:12] QISPSK opened #117 "Coloring - Review Screen"
![image](https://cloud.githubusercontent.com/assets/17549893/25211909/e0318800-25b1-11e7-9004-80cf2e93bd2a.png)

Questions with the same color blend into each other on the review screen. Would it be possible to add a border around each item on the review screen? Or, perhaps use standardized branding for the review screen?

[2017-04-20 03:13] QISPSK opened #118 "Incorrect Translations - Sent Screen/Monitor Module"
![image](https://cloud.githubusercontent.com/assets/17549893/25211953/17519852-25b2-11e7-9b37-dbcc627da6fd.png)

Incorrect Translations:
1.	Last 6 Days
a.	៦ ថ្ងៃចុងក្រោយ
2.	Last 6 Weeks
a.	៦ សប្ដាហ៍ចុងក្រោយ
3.	Last 6 Months
a.	៦ ខែចុងក្រោយ
4.	Last Week
a.	សប្តាហ៍ចុងក្រោយ
5.	Last Month
a.	ខែចុងក្រោយ

These items also need to be updated in the monitor module to ensure consistency. If needed, we can

[2017-04-20 07:34] ifoche commented on #107
Sure, we can do it if you want. As discussed by email also with @rbeccapotter, in principle I'll wait for you to move it to ready column, to understand that this is something you want to do  after taking into consideration the complexity label and budget limitations

[2017-04-20 08:41] ifoche commented on #108
I just want to clarify. This change is very easy to do, but I think that this will probably lead us to a refactor on the periods the app is working with, that may make you re-think everything and take more time, and that's why I used complexity med label. Let me explain why:
We currently have 3 places where we ask for a period to the user:
- The login, when we ask for the amount of data the user w

[2017-04-20 09:23] ifoche commented on #109
@QISPSK I think most of the changes you ask for here you can directly do it yourself in POEditor.

For question titles, you can [search for Question_Title](https://poeditor.com/projects/po_edit?order=&filter=&id=50144&id_language=27&search=Question_Title) on POEditor, while for the options, you can [search for Option_Text](https://poeditor.com/projects/po_edit?order=&filter=&id=50144&id_language=2

[2017-04-20 09:26] ifoche commented on #110
You can do it yourself changing it in POEditor. As said in #109 you can [search for Option_Text](https://poeditor.com/projects/po_edit?order=&filter=&id=50144&id_language=27&search=Option_Text) in POEditor and you'll find the options that you want to change.

[2017-04-20 09:34] ifoche commented on #111
This is happening because to build that review screen we're looping across all the values defined for the survey. When you change a value in the middle, that can force any question that depends on that answer to be deleted (and that's why the blanks). As new values are added at the end of the other ones when we follow all of them we find the new one as the last and represent it accordingly. The wa

[2017-04-20 09:36] QISPSK commented on #109
@ifoche is that something you can give qispsk@gmail.com access to, or do we already have access?

As for padding, as long as it is just enough to make the vowel visible, I think it's fine to add it to all questions.

[2017-04-20 09:43] ifoche commented on #112
If it's about avoiding clicking by mistake, then maybe we could add a confirmation pop-up and that would be a very quick fix.

If you really prefer the toggle option, that would be a bigger change, because currently, we're deleting the DB on any login to new OU so we avoid anyone that started filling in the data with an OU to finally change his mind and send to another one. That means we would nee

[2017-04-20 09:46] ifoche commented on #113
Sure, and wouldn't take too much time

[2017-04-20 09:49] ifoche commented on #114
Yes, the reason is explained in #108. If we change last 6 months to other options behaviour, there wouldn't be any way to represent current period data in monitoring. If we do it the other way around, we wouldn't be able to compare the number of cases with DHIS2 results. I think that maybe a bigger discussion about periods is needed. Does it make sense?

[2017-04-20 09:50] ifoche commented on #114
BTW changing that behaviour to make the 3 options behave the same is very quick, so I will set this complexity label to low, but please take into account my previous comment

[2017-04-20 10:02] ifoche commented on #90
Yes, you're right, the questions cannot adapt to that font size because they are images. In that sense. If we go for using floating text on top of the options, that would be a bigger change.

For the translations, you're also right, it seems we're not using the POEditor strings. Sorry for that. That's a quick fix. I use this last change to define the issue complexity label

[2017-04-20 10:03] ifoche commented on #115
Sorry for that, it's clearly a bug. Very quick fix.

[2017-04-20 10:06] ifoche commented on #116
It's possible, but it's not so quick at it would be if it were just a translation problem. The problem here is that Yes/No is also used by other questions, so we cannot just translate. We need a new optionSet DHIS2 side, and change CSVs app side to consequently match those codes.

[2017-04-20 10:17] ifoche commented on #117
In [this file](https://github.com/EyeSeeTea/SurveillanceCambodiaApp/blob/development/app/src/cambodia/assets/OptionAttributes.csv) you can review the hexadecimal color codes for all options. Changing the questions colors to make them always have a good contrast between them is as quick as changing those colors. Adding a border would be a bit slower (not very difficult) but introduce a modification

[2017-04-20 10:21] ifoche commented on #118
I think you can do it in POEditor by [searching  for last](https://poeditor.com/projects/po_edit?order=&filter=&id=50144&id_language=27&search=last). After the modification, we can easily include it in next build.

[2017-04-20 10:27] ifoche commented on #109
@QISPSK, you're right, you didn't have access. I've just added you as a contributor to Central Khmer and English languages with that email. Please let me know if you have any problem using it.

[2017-04-20 10:36] ifoche commented on #59
@QISPSK yes, we could use floating text on top of the options and that text would adapt to font sizes. The solution we've experimented for that in Laos MCS App, had the only inconvenient that sometimes text overlapped the image, so you need to choose a good color contrast between image and text if you want to directly use that solution (just in case you open the app from a device with a small scre

[2017-04-20 10:40] ifoche commented on #84
I think I don't have much to say here. I suppose it's a task for @rbeccapotter,  @gtrsmith or @rodmelia to provide an updated legal text, and we can include it quickly. I'll wait for you to decide where to introduce it. Sorry if I moved it to "To test", we didn't really modify anything related to this, so it was a mistake.

[2017-04-21 05:08] rbeccapotter commented on #116
@QISPSK I recommend leaving this as is for a different reason. As I've mentioned before, a malaria case that traveled to another village is not an imported case. What you are capturing is data about risk factors relating to travel. I would not support perpetuating the misnomer of "imported case" based on extremely limited travel history data and zero case investigation protocol. Just my two cents.

[2017-04-21 05:11] rbeccapotter commented on #84
@ifoche The attribution language is here (sorry, I don't think I sent you the link before): https://docs.google.com/document/d/1Sj6bVDV0oTx_4zcvKsgpEEaTkKBSXEPCpuSB0kfnvqY/edit

I think it belongs in the Legal --> Copyright section of the app.

[2017-04-21 06:51] QISPSK commented on #116
@rbeccapotter For some reason your comment isn't showing up on my end, but I agree about drawing the distinction between "Imported/Local" from a full case investigation and this question. I do still feel that "Yes/No" is far too general, however, for providers skimming a review slide. Perhaps we could change the text to "Slept Outside of Village/Slept in Village?"

[2017-04-21 06:54] QISPSK commented on #59
@ifoche Yes, I believe we can move this to v1.4 instead as the current build text size works just fine, it just isn't consistent. Would having a fixed text box allow for the text to dynamically adjust similar to the question text size?

If so, I think this is something we should explore and budget out for v1.4 as text size (particularly answer text size) has been a consistent headache for provider

[2017-04-21 07:09] rbeccapotter commented on #116
@QISPSK I misunderstood your issue :) You can do whatever makes sense so that providers know what they are "reviewing".

[2017-04-21 09:06] QISPSK commented on #109
@ifoche  Fixed in POeditor, you can go ahead and add the required space

[2017-04-21 09:12] QISPSK commented on #116
@ifoche Can you further explain why we can't simply just translate Option_Text_Test_Classification_Yes/No on POEditor? Making the changes on the DHIS2 side would be nice, but those viewing the data understand that a "yes" indicates that the patient slept outside of the village within the past two weeks. The review screen would only be seen by the provider and we worry that a simply "Yes/No" on the

[2017-04-21 09:18] QISPSK commented on #110
@ifoche Fixed in POEditor

[2017-04-21 09:25] QISPSK commented on #118
Updated on POEditor

[2017-04-21 10:22] rodmelia commented on #90
We agreed not to use dynamic text for the answers- we tried before and the
solution was not satisfactory.

If we want to try again, we can do so in a future release, for which we
need to design a more elaborate solution and a new estimation

On Thu, 20 Apr 2017 at 06:02, Ignacio Foche <notifications@github.com>
wrote:

[2017-04-21 10:28] rodmelia commented on #59
Yes - this is to be considered in next version- part of the challenge is
that location of text changes for landscape vs portrait, and color of font
also needs to change.

On Fri, 21 Apr 2017 at 02:54, QISPSK <notifications@github.com> wrote:

[2017-04-22 13:57] ifoche commented on #118
Thanks! we will incorporate it into next release

[2017-04-22 13:57] ifoche commented on #110
Thanks! we will incorporate it into next release

[2017-04-22 13:57] ifoche commented on #109
Thanks! we will incorporate it into next release

[2017-04-22 13:59] ifoche commented on #84
Thanks @rbeccapotter! we will incorporate it into next release

[2017-04-22 14:14] ifoche commented on #59
@QISPSK yes, both options (floating text over the image and text in a fixed position relative to the image) would allow the text to adjust similar to the question text size. I've moved this to v1.4 following what you and @rodmelia said in your comments

[2017-04-25 08:34] QISPSK commented on #117
@ifoche If you could go ahead and change the hexadecimal color codes to have a better contrast, that would be great!

[2017-04-25 08:36] QISPSK commented on #90
@ifoche and @rodmelia thanks for the explanations! @ifoche if you can go ahead and simply link these up with the POEditor translations, that would be great.

[2017-04-25 08:53] QISPSK commented on #112
@ifoche @rbeccapotter  The complexity makes sense...

There are definite concerns about the item being selected accidentally which would necessitate a support staff member going to visit the provider to re-setup their OU (this is assuming that the provider knows that they have selected demo mode, if not, the app would appear to work as intended though we wouldn't be receiving any of the data).

As

[2017-04-25 08:53] QISPSK commented on #111
@ifoche the solution makes sense, go ahead and test it out and we can see if we run into any issues on our end

[2017-04-25 09:36] QISPSK commented on #108
@ifoche Thanks for the explanation above! We had a longer discussion about what we want "last" to mean and have come to the consensus that it should indeed include the current period. We don't, however, want to cause confusion between DHIS2 and the app and would propose changing "last" to "latest" (i.e., Latest 6 months/weeks/days). This filter would be universal across the login, monitoring, and

[2017-04-25 10:31] rbeccapotter commented on #112
@QISPSK If it doesn't make operational sense to have a demo mode, don't feel the need to keep it just for the sake for regional demo-ing. We can workaround by using test org units and demo user.

[2017-04-25 12:43] ifoche commented on #90
Sure

[2017-04-25 15:07] ifoche commented on #111
Fine, we'll go for it

[2017-04-25 15:14] ifoche commented on #112
What about including "Run in demo mode" only when "Developers options" setting is activated? Would that solve the issue?

[2017-04-25 15:26] ifoche commented on #116
@QISPSK sorry, I thought you wanted not only to change it in the review screen but it to be sent like that to DHIS2 and be able to see that value server side when analysing data. If it's only a matter of showing it in the review screen, you can just translate as you said in POEditor.

Just to provide an alternative too (just in case), for Save the Children Myanmar App we implemented a solution tha

[2017-04-25 15:39] ifoche commented on #108
@QISPSK sure, that make sense if it make sense for users, and you're the one in the best situation to know that, so we will do it as you said if you move it to the ready column.

So just to confirm, we would be:
1) using the current period for login. That means changing last to latest too
2) using the current period for monitoring. That means changing last to latest too
3) not using the current pe

[2017-04-26 07:43] QISPSK commented on #49
Moved this back to "Ready" after sending some data to old-staging.psi-mis.org. It looks like this DE still isn't showing up in Event Reports. Any updates from Oslo on this? The hope was that this would be fixed in v2.25.

[2017-04-26 07:47] QISPSK commented on #95
@ifoche Syncs certainly seem to happen significantly faster than they did in S5, however none of the OUs exposed on old-staging.psi-mis.org seem to have a ton of data so it's difficult to say how much of an impact the change has. Will be interesting to test this in the coming weeks when pulling the "latest" 6 months of data for QIS Test as there is around 1,000 surveys there.

[2017-04-26 07:50] rodmelia commented on #49
Hi Cambodia - (not sure who is writing).

Is there a hyperlink that you can send for opening this in the report view?
The time may not show on the event report, but have you tried downloading
it in excel? Generally it shows.

Also, if you are seeking to count the number of cases, perhaps you should
try doing an indicator, and call this via pivot table. Let me know.

R

On 26 April 2017 at 09:43, Q

[2017-04-26 08:12] QISPSK commented on #49
@rodmelia Sorry, this is Eli. A link is below. The table sorts only for data sent from phones with S6.

https://old-staging.psi-mis.org/dhis-web-event-reports/index.html?id=kQVIuM8CWWP

As you can see, the "KH_MAL_SRV - Time Capture" and "KH_MAL_SRV - Time Sent" DEs are blank. Downloading this table to Excel shows the Event Date (which is when it hits DHIS2, I assume?), however it does not show th

[2017-04-26 08:47] QISPSK commented on #116
@ifoche I'm not sure what you mean regarding the Save the Children app, could you attach a picture/example, perhaps?

Regardless, I've gone ahead and updated both the English and the Khmer text on POEditor to say "Slept in the Village" and "Slept Outside of the Village".

[2017-04-26 09:00] QISPSK commented on #108
@ifoche You are correct, "Last" is not a typo above. We want to keep "Last week" for providers and "Last month" for officers who will be doing data validation in the field. Items with "Last" should not include the current period and should match the functionality found in DHIS2.

As for what we mean by "include the current period," I'm not sure I understand the differences between the option choic

[2017-04-26 09:03] QISPSK commented on #112
@ifoche that would be a good way to "hide" it, but we're not sure it is effective enough. Would it be possible to come up with hour estimate for the removal of the feature entirely?

If it is quite difficult to do, we may just want to hide it under "developers options," but we think removing it entirely would be the safest way to proceed.

[2017-04-26 10:52] josemp10 commented on #49
Hi! We have reported this to Oslo, but it seems like we have to do it
again. Date DateElements should be rendered in the analytics.

On Wed, Apr 26, 2017 at 10:12 AM, QISPSK <notifications@github.com> wrote:

[2017-04-27 09:23] rodmelia commented on #49
Jose - do you know the Jira reference?
If there isn't a Jira issue, we should send to Sam, who is managing the
error reporting.

On 26 April 2017 at 12:52, josemp10 <notifications@github.com> wrote:

[2017-04-28 18:12] ifoche commented on #116
Hi @QISPSK,

Save the Children App is a derivated from PSI MCS app that implements several modifications, but still have some common concepts. For instance, the review screen is similar, but they have multiple yes/no questions, so they needed to identify them clearly on the review screen. That's why we implemented titles for them in the review screen. Please look at the following screenshot
![revi

[2017-04-28 18:16] ifoche commented on #108
@QISPSK that makes sense. We will include that and create a new release for next monday

[2017-05-02 01:32] QISPSK commented on #116
@ifoche Interesting. That is correct, we can proceed with the POEditor edits and go from there. If we feel like it's a major need in the future, we can consider this alternative.

[2017-05-02 02:39] #84 closed, assigned to gtrsmith, rodmelia

[2017-05-02 02:41] #88 closed, assigned to nobody

[2017-05-02 02:41] #36 closed, assigned to nobody

[2017-05-02 02:46] #100 closed, assigned to adrianq, ifoche, rodmelia

[2017-05-02 02:52] #114 closed, assigned to ifoche

[2017-05-02 02:52] #108 closed, assigned to ifoche

[2017-05-02 02:52] #116 closed, assigned to ifoche

[2017-05-02 02:54] QISPSK commented on #110
@ifoche I forgot to update the text in POEditor for the English translations as well! Should be all fixed now

[2017-05-02 02:58] #90 closed, assigned to adrianq, ifoche, rodmelia

[2017-05-02 02:58] #115 closed, assigned to ifoche

[2017-05-02 03:00] QISPSK commented on #89
@ifoche Unable to test given that only KH MCS Post-Test_BMC_01 and 02 are exposed. From what I remember, OU Send Limits for pre-and post-test OUs are significantly higher than regular OUs. Will test this when we can use regular OUs on 2.25

[2017-05-02 03:04] QISPSK commented on #118
@ifoche Updated these in POEditor to highlight the difference between "Last" and "Latest" in Khmer.

[2017-05-02 03:07] QISPSK commented on #111
![screenshot_2017-05-02-09-38-43](https://cloud.githubusercontent.com/assets/17549893/25602544/0de48c90-2f1f-11e7-9636-9501d3a0d101.png)

@ifoche, Incorrect ordering still an issue when changing options after reaching the review screen.

[2017-05-02 03:15] QISPSK commented on #117
![screenshot_2017-05-02-09-38-43](https://cloud.githubusercontent.com/assets/17549893/25602628/b1166460-2f1f-11e7-8a00-9c18331e39d5.png)

Colors don't appear to have changed yet. Not sure which colors would produce good enough contrast while still keeping the look of the app consistent. Google's Material Design Spec/Color Tool may be able to help? https://material.io/guidelines/style/color.html#

[2017-05-02 03:17] QISPSK commented on #109
![screenshot_2017-05-02-09-51-55](https://cloud.githubusercontent.com/assets/17549893/25602720/5c122494-2f20-11e7-879a-965ab18dc596.png)

@ifoche, Translations appear to be fixed, however, the introduction of spacing has thrown off the review screen. Any way that the spacing could just be applied to question text? Also, could it be reduced to the point where it just allows the review screen "ូ" to

[2017-05-02 03:19] QISPSK commented on #107
![screenshot_2017-05-02-09-57-16](https://cloud.githubusercontent.com/assets/17549893/25602777/bca6eb0a-2f20-11e7-9a4e-38d3032b929e.png)

@ifoche, the duration selector doesn't appear to have been updated to match the monitor module yet.

[2017-05-02 14:01] ifoche commented on #107
Sorry @QISPSK I'm a bit lost here. The dropdown options aren't cut, right? Could you describe a bit more the problem?

[2017-05-02 14:02] ifoche commented on #110
@QISPSK no problem, we'll incorporate them for the next build

[2017-05-02 14:20] ifoche commented on #109
@QISPSK making the spacing variable depending on the size of the text would be much more difficult than just including a fix padding. We will reduce it to the point that "ូ" gets visible, but without so many space. However if you have a graphic editor app and you want to share a mockup of what you have in mind, we would really appreciate it.

[2017-05-03 01:37] QISPSK commented on #107
![screenshot_2017-05-03-08-35-47](https://cloud.githubusercontent.com/assets/17549893/25645758/b5a4f098-2fdb-11e7-8f13-70f55af85b4c.png)

@ifoche, Sorry for the lack of clarity around this. If possible (for the sake of consistency) we'd like this period selector to match the one on the monitor module (pictured above). If that's too much work, we're happy to keep it as is.

[2017-05-03 02:14] QISPSK commented on #109
![review screen spacing](https://cloud.githubusercontent.com/assets/17549893/25646151/b8e6bfda-2fdf-11e7-8d32-c631ab01c569.png)

@ifoche, isn't variable spacing already included to some extent given the ability to adjust question text sizes? If not, it is likely something we should consider down to the road to ensure text sizes, question boxes, line breaks, and leading remain consistent in later b

[2017-05-03 02:42] QISPSK opened #119 "Age and Length of Pregnancy Titles on Review Screen"
After some feedback from the team, we would indeed like to include titles after age and length of pregnancy.

For example, the review screen just lists the answer number:

22

However, we would like to see what this value means. For example:

22 Years Old
OR
22 ឆ្នាំ

Same goes for length of pregnancy:

3 Months
OR
3 ខែ

This isn't a particularly urgent need as it still seems relatively clear what

[2017-05-03 02:45] QISPSK opened #120 "No Phone Number - Review Screen"
Would it be possible to fill in the blank on the Review Screen when a provider does not submit a phone number with text? For example: "No Phone Number" or “គ្មានលេខទូរស័ព្ទ”?

[2017-05-03 02:49] QISPSK opened #121 "Review Screen - Confirmation Button"
Would it be possible to change the check mark at the end of the Review Screen to a couple more options? Perhaps three options - "Delete," "Review," and "Send?"

Ideally, a popup would come up when the user selects either "Send" or "Delete" to confirm their selection and "Review" would simply take the provider back to the start of the survey for them to adjust any questions.

This is likely too muc

[2017-05-03 05:28] ifoche commented on #107
@QISPSK ok, I understand now, thank you for the clarification. I think it's more work than it may appear. The reason is that the file that's there waiting to process the data injected by another piece of code that searches in the internal DB for the data is structured in a table of 6 periods...so it's waiting for rows of 6 values. 6 weeks/months/days correspond perfectly with that scheme, but, for

[2017-05-03 05:49] ifoche commented on #109
@QISPSK the padding is not attached to the font size, because it's the text component what's adapting, but the padding belongs to the upper container. Making that change is not something that should take too much time, however, but I think like you, that only providing the minimum padding for showing the "ូ" character would probably make the trick. We will give a try to adjust the paddings to the

[2017-05-03 05:59] ifoche commented on #121
@QISPSK it would be perfectly possible. I've included the complexity label.

[2017-05-03 06:00] ifoche commented on #120
@QISPSK Yes, this wouldn't be too much work

[2017-05-03 06:02] ifoche commented on #119
@QISPSK ok, this is something perfectly doable. Complexity added.

[2017-05-03 07:37] QISPSK commented on #107
@ifoche I think the above is something we will need to do in S7 as the 6 columns are a bit limiting, however, we simply want the same functionality when you select the period selector.

In the monitor module, when you select the period (as in the image above), a floating context menu (I think that's the name?) appears to allow you to select the period. For the sake of consistency, it would be nice

[2017-05-03 07:43] QISPSK commented on #109
@ifoche, yep, that sounds great on our end, let us know how it goes.

[2017-05-03 08:33] ifoche commented on #107
@QISPSK sorry, I see now what you mean. Yes, no problem, that's a very quick change. We'll include it for the next build

[2017-05-03 18:06] ifoche commented on #112
Hi @QISPSK disabling the demo mode is quite easy. Do you want us to include it for this release?

[2017-05-03 18:07] ifoche commented on #112
changed the complexity label to represent the effort for removing the demo mode

[2017-05-03 18:09] ifoche commented on #119
@QISPSK we're not including it because it's still in backlog column...do you want to move it to ready column? otherwise we will understand that you don't want us to go for it

[2017-05-03 18:11] ifoche commented on #121
@QISPSK this task is still in backlog column...this is correct? we're not implementing for now. Please move it to ready if you want us to go for it. Thanks!

[2017-05-04 02:18] QISPSK commented on #121
@ifoche, Correct, I think we can wait on this until v1.4.

[2017-05-04 02:18] QISPSK commented on #119
@ifoche Yep, I think we're going to wait until v1.4 to implement this.

[2017-05-04 02:19] QISPSK commented on #112
@ifoche Yes please. I've moved it into the "Ready" column.

[2017-05-08 02:02] QISPSK opened #122 "Hardcoding data.psi-mis.org URL for v1.3"
Is there any way we can hard code in the URL? It sounds like a few providers have accidentally clicked on this feature and changed the URL which has prevented them from sending data. It would be nice if we could keep the URL locked in for now and potentially open it back up in the future if we need to use multiple URLs in the future (i.e., if/when the government switches to DHIS2 and they want dat

[2017-05-08 02:59] #112 closed, assigned to ifoche

[2017-05-08 03:02] QISPSK commented on #107
@ifoche Thanks for making this change. Could you increase the text size a bit? I'm having trouble selecting "last six days." Also, would it be possible to add the radio buttons that are present in the monitor module period selector?

[2017-05-08 03:02] #120 closed, assigned to ifoche

[2017-05-08 03:04] #118 closed, assigned to ifoche

[2017-05-08 03:09] #109 closed, assigned to ifoche

[2017-05-08 03:10] QISPSK commented on #110
@ifoche English changes don't appear to have been incorporated into build 57

[2017-05-08 03:10] #111 closed, assigned to ifoche

[2017-05-08 03:10] #117 closed, assigned to ifoche

[2017-05-08 03:12] QISPSK commented on #113
@ifoche Can you change the colors for when the provider selects "Not Tested" and "RDT Stock Out?" They are currently the same color

[2017-05-08 03:15] QISPSK opened #123 "Khmer Days on the Monitor Module"
![screenshot_2017-05-08-10-13-09](https://cloud.githubusercontent.com/assets/17549893/25788961/3f7de5e6-33d7-11e7-8c29-e994af6cfecc.png)

Not sure why this changed, but it looks like the formatting of the day in the header of the monitor module when "latest 6 days" is selected is off. Is this something we can fix in POEditor?

[2017-05-08 08:30] ifoche commented on #89
@QISPSK the OU send limit has always been equal for all OUs, and concretely 30 in an hour.  If you experimented at any point that you could send more than that, then it was a bug. Now in principle you will never be blocked, unless you force it server side.

[2017-05-08 08:49] ifoche commented on #107
@QISPSK from a technical point of view, those 2 selectors are implemented in a very different way, and that's the reason why it's so tricky to give them the same exact appearance. The thing is that the sent surveys dropdown is a native android dropdown, while the monitor table is implemented using an HTML dropdown (the whole monitor table is an HTML). Making the font size bigger for usability is s

[2017-05-08 08:50] ifoche commented on #110
Sorry, my fault, I simply forgot to add them in this build. We'll create a new build with them

[2017-05-08 08:51] QISPSK commented on #107
@ifoche Ah OK, good to know! I think we can just go ahead with increasing the font size and go from there.

[2017-05-08 08:56] ifoche commented on #122
@QISPSK what about hiding the URL and only show it when "developers options" is activated? Would that work? Otherwise, we would be blocking the app to a concrete URL and forcing the users whenever they have that need, to install a new version of the app.

[2017-05-08 09:24] QISPSK commented on #122
@ifoche I think hiding it behind developer options would work fine for now and we can monitor it to see if anyone changes it accidentally going forward.

[2017-05-08 09:24] ifoche commented on #113
Sure, sorry for that

[2017-05-08 09:49] ifoche commented on #123
@QISPSK are you referring to the fact that day 5 in your screenshot is taking more space than the others and so the whole title fits in 1 line while the others take 2 lines? If that's the case, that behavior comes from the fact that 100% is larger than 0%, and the column is adapting its size to that. Maybe we can use a fix column size, but then you may start having a little scroll in some screens

[2017-05-08 09:57] QISPSK commented on #123
@ifoche Ah good catch! I didn't realize that this was from the 100% at the bottom. I'd say we can safely ignore this issue and address this in v1.4 when we come up with a different solution for the monitor module.

[2017-05-08 09:57] #123 closed, assigned to ifoche

[2017-05-17 02:54] #122 closed, assigned to ifoche

[2017-05-17 02:57] #107 closed, assigned to ifoche

[2017-05-17 02:57] #113 closed, assigned to ifoche

[2017-05-17 02:58] #110 closed, assigned to ifoche

[2017-07-12 01:24] QISPSK opened #124 "App Crashes"
Hi all,

As we work through all the providers to upgrade to the newest version of the app (v1.3), we've encountered a handful (~10) that seem to be crashing on startup continuously and providers cannot submit data.

Panharith, who has been out in the field updating, was kind enough to collect that ADB output related to the application which I've attached here. Could you look into this issue and es

[2017-07-18 04:50] QISPSK commented on #124
Following up on this issue as I haven't heard a response. Any thoughts? Thanks!

[2017-07-28 15:46] ifoche commented on #124
Sorry @QISPSK for not answering before. As talked through email, could you please provide us with the DB of any of the providers having that problem?

[2017-07-31 01:21] QISPSK commented on #124
@ifoche No worries! The app is crashing on launch - is there a way to pull the DB from outside of the application?

[2017-08-04 04:20] QISPSK commented on #124
@ifoche Sorry to keep bugging, but just making sure these messages are still coming through. Can you explain how we can pull the DB off the phone outside of the application? Perhaps using ADB? Thanks.

[2017-08-06 23:23] ifoche commented on #124
@QISPSK sorry, looks like I'm always missing your messages. This time I was on leave moving to a new place. I hope no more delays will come in the future. To extract the DB you just have to go to settings inside the app, activate the "Developers options". That will make a new option appear in the top-right menu saying "Export database". That will ask you to select the method. Maybe you can use Gma

[2017-08-07 01:58] QISPSK commented on #124
@ifoche No worries! Unfortunately, this app crash happens every time the app is opened and thus does not allow us to access the settings menu within the application. We messed around with ADB to see if we could manually pull it off, but it appears this is only possible on a rooted phone. Any other ideas/ways you may know of that we can extract the database for you?

[2017-08-07 07:25] ifoche commented on #124
@QISPSK Ok, I see. If your device (virtual or real) is not rooted, you're right that you cannot obtain the DB through ADB...so I guess there's no way (apart from creating an specific patch for the app to export the DB before entering it...but that looks like very expensive).

However digging a little bit more on your ADB messages I think even without having the exact DB and situation we can guess

[2017-08-07 07:54] ifoche commented on #124
@QISPSK we're currently blaming the performance of those devices, we're looking for a workaround but in the meantime but...would it be possible to know the model of some failing devices?

[2017-08-07 08:12] ifoche commented on #124
@QISPSK it would be great if you could also provide their Android versions

[2017-08-07 08:16] QISPSK commented on #124
@ifoche Both LG K7s and LG Leons are experiencing the issue in the field. There does seem to be some connection between the version of android as upgrading the version has seemingly fixed the issues for almost all phones in one province, however at least one phone in that province is still running into the issue after the update.

While I don't have the phone associated with either log on hand, I

[2017-08-07 08:17] ifoche commented on #124
Oh, that's great. We think we could have a workaround so maybe we can send you a version with that workaround for you to test it in that phone?

[2017-08-07 08:21] QISPSK commented on #124
@ifoche Sure! Happy to give it a shot and see if it fixes the issue

[2017-08-07 08:34] ifoche commented on #124
Fine, let us test it a little bit before and we'll deploy a new version once tested for you to verify. Please be sure to test it both in the failing device and at least another "control device", just to be sure that it works for both of them

[2017-08-07 08:36] QISPSK commented on #124
@ifoche  Sounds good. Note that it may be slightly difficult to test on our end as we're not 100% sure what is causing the problem. If we simply uninstall and reinstall the app, it seems to fix the issue temporarily, however it seems to break again after entering some data. Regardless, we will play around with the build on both this device and a control to see if we run into issues.

[2017-08-08 06:24] ifoche commented on #124
@QISPSK please let me know whenever you test the new version in the failing device if it makes the app work or if it doesn't. If it continues failing in that device, it would also be very helpful to have the ADB logs. Thanks!

[2017-08-08 08:28] QISPSK commented on #124
@ifoche App seems to be working after some very quick testing, however can you elaborate on what you think the issue is and what may be causing the crash? Given that we cannot replicate the crash on phones that have experienced the issue previously, it would be helpful for us to know what conditions may have lead to the crash so we can test these out under the new BB version. Thanks!

[2017-08-08 10:17] ifoche commented on #124
@QISPSK it was a combination of 2 very simple fixes:
1) Move the initialization of filters (the dropdown) to the onResume() method of the activities instead of the onCreate() method (so if the app goes to standby, the filters are initialized again when opened, to prevent a NullPointerException there)
2) From your ADB we read a NullPointerException when trying to use the ListView object of the Dash

[2017-08-09 01:21] QISPSK commented on #124
@ifoche Thanks for the detailed explanation! We will run it through the usual paces a bit more today and likely request that you publish it around COB today.

Also, a question on budget - approximately how much is this fix going to set us back?

Thanks!

[2017-08-09 10:10] ifoche commented on #124
@QISPSK Thanks to you.

I'm not sure to properly understand your question. You mean how many hours did what's done took or how many hours would it take to analyze one of the phones that were presenting the crash problem and guarantee that the workaround that we introduced will work for every situation and otherwise code the final solution?

[2017-08-09 12:24] QISPSK commented on #124
@ifoche I think just how many hours spent working on the fix as we will only really find out if it's working when we start to roll it out.

Also, unfortunately it looks like we spoke too soon. Panharith is out in the field testing the BB version and has run into a similar crash due to a NullPointerException and the logs look nearly identical to what we were seeing on the previous version.

[Here](

[2017-08-09 18:51] ifoche commented on #124
@QISPSK just a question. Panharith is using the last BB version we deployed 2 days ago in those phones that produced the crash, right?

Re the fix time, I think we've spent around 5 hours if we count all the analysis, coding, coordination, etc. I'm not sure because I would need to analyze our internal registers for being more specific, but I hope that estimation is enough for you to have an idea.

[2017-08-10 03:37] QISPSK commented on #124
@ifoche Yes, that is correct, he is using BB61 - the one that came out 2 days ago.

As for the estimation, that is perfect, just trying to get a sense of how much the fix may cost as budgets here are limited due to the unforeseen costs associated with updating DHIS2 to v2.25.

And unfortunately, the devices are not rooted (and I haven't found an easy solution online to root the devices) nor can th

[2017-08-16 04:49] QISPSK commented on #124
@ifoche Sorry to keep bothering you on this, but this is a pretty critical issue to our program as more and more phones are unable to report due to this bug. Do you know of any way that we can pull the DB off phones that are not rooted? Thanks.

[2017-08-17 02:24] QISPSK opened #125 "Update ASMQ According to Treatment Guidelines"
Cambodia has recently undergone changes to it's treatment guidelines and has release new boxes for ASMQ countrywide. In order to better align with these guidelines, we need to update the ASMQ screen (see attached image). We have a very tight timeline for this (the first training is on the 28th of August) and we understand that this change may not be possible by then, but if it is that would be ide

[2017-08-17 02:25] QISPSK commented on #125
[ASMQ Update.pdf](https://github.com/EyeSeeTea/SurveillanceCambodiaApp/files/1229969/ASMQ.Update.pdf)

[2017-08-17 02:33] QISPSK opened #126 "Add a new screen for Primaquine"
The new treatment guidelines also stipulate that private providers will be treating Pf and mixed cases greater than or equal to 50kg with a single dose of primaquine.

This is less urgent than the ASMQ update as it has yet to be rolled out to providers, however we are planning our first training around these new treatment guidelines at the beginning of September (actual doses of primaquine are lik

[2017-08-17 02:34] QISPSK commented on #126
[Primaquine.pdf](https://github.com/EyeSeeTea/SurveillanceCambodiaApp/files/1229985/Primaquine.pdf)

[2017-08-17 02:37] QISPSK opened #127 "Treatment Screen Update"
Given that the new treatment guidelines mandate ASMQ countrywide, we need to remove DHA-PIP from the app entirely.

This would likely involve:
1. Changing the treatment option screen (see draft in the next comment)
2. Removing references in the monitor module
3. Removing references in the unsent/sent screens
4. Removing DHA-PIP from review screen
5. Likely somewhere else I forgot above

Can you es

[2017-08-17 02:38] QISPSK opened #128 "Weight Screen"
In order to fully align with treatment guidelines, we should add a screen for weight (as primaquine does not have age ranges). How much would adding an additional screen for weight after age cost?

[2017-08-17 02:39] QISPSK commented on #127
[Treatment Screen Update.pdf](https://github.com/EyeSeeTea/SurveillanceCambodiaApp/files/1229988/Treatment.Screen.Update.pdf)

[2017-08-17 02:39] QISPSK commented on #128
[Weight.pdf](https://github.com/EyeSeeTea/SurveillanceCambodiaApp/files/1229989/Weight.pdf)

[2017-08-17 02:40] QISPSK opened #129 "Name Entry"
We recently had a conversation with Jose who mentioned that patient name will be one of the DEs in the national program's DHIS2 so to fully align, we likely need to add it to our application.

How much would adding a simple text entry screen and new DE for weight cost?

[2017-08-31 02:26] QISPSK commented on #124
@ifoche any updates on this? More and more phones are crashing and providers are unable to send data. Any updates would be appreciated.

[2017-09-04 06:03] ifoche commented on #124
Sorry @QISPSK for the long delay. We're now generating a new version were we've modified a bit how we're logging the messages for the ADB logs. As we don't have that crash it's difficult to trace. If you could send us the ADB log (from a crashing device) using the apk recently generated, that would be very helpful. Thank you and sorry again!

[2017-09-04 08:35] QISPSK commented on #124
@ifoche Thanks for the response and update! Definitely can appreciate that it's a bit more difficult to figure out what's going on given that we aren't sure how to replicate the issue.

Panharith is out in the field this week and will work on testing the new BB version (and I will test here in Phnom Penh) to see if we can again replicate the issue and send through the logs. Fingers crossed!